body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:999px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u853_img {
  position:absolute;
  left:0px;
  top:0px;
  width:421px;
  height:848px;
}
#u853 {
  position:absolute;
  left:0px;
  top:0px;
  width:421px;
  height:848px;
}
#u854 {
  position:absolute;
  left:2px;
  top:416px;
  width:417px;
  word-wrap:break-word;
}
#u855_div {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:667px;
  background:inherit;
  background-color:rgba(229, 229, 229, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u855 {
  position:absolute;
  left:22px;
  top:90px;
  width:376px;
  height:667px;
}
#u856 {
  position:absolute;
  left:2px;
  top:326px;
  width:372px;
  visibility:hidden;
  word-wrap:break-word;
}
#u857_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:64px;
}
#u857 {
  position:absolute;
  left:22px;
  top:90px;
  width:376px;
  height:64px;
}
#u858 {
  position:absolute;
  left:2px;
  top:24px;
  width:372px;
  visibility:hidden;
  word-wrap:break-word;
}
#u859_img {
  position:absolute;
  left:0px;
  top:0px;
  width:363px;
  height:15px;
}
#u859 {
  position:absolute;
  left:28px;
  top:94px;
  width:363px;
  height:15px;
}
#u860 {
  position:absolute;
  left:2px;
  top:0px;
  width:359px;
  visibility:hidden;
  word-wrap:break-word;
}
#u861_img {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:665px;
}
#u861 {
  position:absolute;
  left:23px;
  top:91px;
  width:374px;
  height:665px;
}
#u862 {
  position:absolute;
  left:2px;
  top:324px;
  width:370px;
  visibility:hidden;
  word-wrap:break-word;
}
#u863_img {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:665px;
}
#u863 {
  position:absolute;
  left:625px;
  top:91px;
  width:374px;
  height:665px;
}
#u864 {
  position:absolute;
  left:2px;
  top:324px;
  width:370px;
  visibility:hidden;
  word-wrap:break-word;
}
#u865_div {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u865 {
  position:absolute;
  left:762px;
  top:774px;
  width:101px;
  height:24px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u866 {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  white-space:nowrap;
}
#u867 {
  position:absolute;
  left:23px;
  top:118px;
  width:47px;
  height:42px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u868 {
  position:absolute;
  left:728px;
  top:395px;
  width:176px;
  height:66px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u869_div {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
}
#u869 {
  position:absolute;
  left:716px;
  top:808px;
  width:200px;
  height:16px;
  font-size:15px;
}
#u870 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  visibility:hidden;
  word-wrap:break-word;
}
#u871_div {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u871 {
  position:absolute;
  left:469px;
  top:124px;
  width:87px;
  height:35px;
}
#u872 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u873 {
  position:absolute;
  left:441px;
  top:133px;
  width:0px;
  height:0px;
}
#u873_seg0 {
  position:absolute;
  left:-4px;
  top:-56px;
  width:8px;
  height:56px;
}
#u873_seg1 {
  position:absolute;
  left:-390px;
  top:-56px;
  width:394px;
  height:8px;
}
#u873_seg2 {
  position:absolute;
  left:-390px;
  top:-56px;
  width:8px;
  height:67px;
}
#u873_seg3 {
  position:absolute;
  left:-396px;
  top:3px;
  width:14px;
  height:8px;
}
#u874 {
  position:absolute;
  left:-252px;
  top:-60px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u875_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u875 {
  position:absolute;
  left:429px;
  top:124px;
  width:30px;
  height:30px;
}
#u876 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  word-wrap:break-word;
}
