body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:421px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1643_img {
  position:absolute;
  left:0px;
  top:0px;
  width:421px;
  height:848px;
}
#u1643 {
  position:absolute;
  left:0px;
  top:0px;
  width:421px;
  height:848px;
}
#u1644 {
  position:absolute;
  left:2px;
  top:416px;
  width:417px;
  word-wrap:break-word;
}
#u1645_div {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:667px;
  background:inherit;
  background-color:rgba(229, 229, 229, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1645 {
  position:absolute;
  left:22px;
  top:90px;
  width:376px;
  height:667px;
}
#u1646 {
  position:absolute;
  left:2px;
  top:326px;
  width:372px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1647_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:64px;
}
#u1647 {
  position:absolute;
  left:22px;
  top:90px;
  width:376px;
  height:64px;
}
#u1648 {
  position:absolute;
  left:2px;
  top:24px;
  width:372px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1649_img {
  position:absolute;
  left:0px;
  top:0px;
  width:363px;
  height:15px;
}
#u1649 {
  position:absolute;
  left:28px;
  top:94px;
  width:363px;
  height:15px;
}
#u1650 {
  position:absolute;
  left:2px;
  top:0px;
  width:359px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1651_img {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:665px;
}
#u1651 {
  position:absolute;
  left:23px;
  top:91px;
  width:374px;
  height:665px;
}
#u1652 {
  position:absolute;
  left:2px;
  top:324px;
  width:370px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1653 {
  position:absolute;
  left:210px;
  top:291px;
  width:94px;
  height:46px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1654 {
  position:absolute;
  left:23px;
  top:336px;
  width:94px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1655 {
  position:absolute;
  left:23px;
  top:376px;
  width:94px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1656 {
  position:absolute;
  left:23px;
  top:426px;
  width:94px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1657 {
  position:absolute;
  left:23px;
  top:476px;
  width:94px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1658 {
  position:absolute;
  left:127px;
  top:336px;
  width:271px;
  height:180px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1659 {
  position:absolute;
  left:24px;
  top:109px;
  width:51px;
  height:46px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1660 {
  position:absolute;
  left:346px;
  top:109px;
  width:51px;
  height:46px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1661 {
  position:absolute;
  left:85px;
  top:109px;
  width:251px;
  height:46px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1662 {
  position:absolute;
  left:23px;
  top:155px;
  width:374px;
  height:126px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1663 {
  position:absolute;
  left:304px;
  top:291px;
  width:94px;
  height:46px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1664 {
  position:absolute;
  left:117px;
  top:291px;
  width:94px;
  height:46px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
