body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:421px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1621_img {
  position:absolute;
  left:0px;
  top:0px;
  width:421px;
  height:848px;
}
#u1621 {
  position:absolute;
  left:0px;
  top:0px;
  width:421px;
  height:848px;
}
#u1622 {
  position:absolute;
  left:2px;
  top:416px;
  width:417px;
  word-wrap:break-word;
}
#u1623_div {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:667px;
  background:inherit;
  background-color:rgba(229, 229, 229, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1623 {
  position:absolute;
  left:22px;
  top:90px;
  width:376px;
  height:667px;
}
#u1624 {
  position:absolute;
  left:2px;
  top:326px;
  width:372px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1625_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:64px;
}
#u1625 {
  position:absolute;
  left:22px;
  top:90px;
  width:376px;
  height:64px;
}
#u1626 {
  position:absolute;
  left:2px;
  top:24px;
  width:372px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1627_img {
  position:absolute;
  left:0px;
  top:0px;
  width:363px;
  height:15px;
}
#u1627 {
  position:absolute;
  left:28px;
  top:94px;
  width:363px;
  height:15px;
}
#u1628 {
  position:absolute;
  left:2px;
  top:0px;
  width:359px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1629_img {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:665px;
}
#u1629 {
  position:absolute;
  left:23px;
  top:91px;
  width:374px;
  height:665px;
}
#u1630 {
  position:absolute;
  left:2px;
  top:324px;
  width:370px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1631 {
  position:absolute;
  left:210px;
  top:291px;
  width:94px;
  height:46px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1632 {
  position:absolute;
  left:23px;
  top:336px;
  width:94px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1633 {
  position:absolute;
  left:23px;
  top:376px;
  width:94px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1634 {
  position:absolute;
  left:23px;
  top:426px;
  width:94px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1635 {
  position:absolute;
  left:23px;
  top:476px;
  width:375px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1636 {
  position:absolute;
  left:24px;
  top:109px;
  width:51px;
  height:46px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1637 {
  position:absolute;
  left:346px;
  top:109px;
  width:51px;
  height:46px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1638 {
  position:absolute;
  left:85px;
  top:109px;
  width:251px;
  height:46px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1639 {
  position:absolute;
  left:23px;
  top:155px;
  width:374px;
  height:126px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1640 {
  position:absolute;
  left:304px;
  top:291px;
  width:94px;
  height:46px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1641 {
  position:absolute;
  left:117px;
  top:291px;
  width:94px;
  height:46px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
