body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1112px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u280_img {
  position:absolute;
  left:0px;
  top:0px;
  width:421px;
  height:848px;
}
#u280 {
  position:absolute;
  left:0px;
  top:0px;
  width:421px;
  height:848px;
}
#u281 {
  position:absolute;
  left:2px;
  top:416px;
  width:417px;
  word-wrap:break-word;
}
#u282_div {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:667px;
  background:inherit;
  background-color:rgba(229, 229, 229, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u282 {
  position:absolute;
  left:22px;
  top:90px;
  width:376px;
  height:667px;
}
#u283 {
  position:absolute;
  left:2px;
  top:326px;
  width:372px;
  visibility:hidden;
  word-wrap:break-word;
}
#u284_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:64px;
}
#u284 {
  position:absolute;
  left:22px;
  top:90px;
  width:376px;
  height:64px;
}
#u285 {
  position:absolute;
  left:2px;
  top:24px;
  width:372px;
  visibility:hidden;
  word-wrap:break-word;
}
#u286_img {
  position:absolute;
  left:0px;
  top:0px;
  width:363px;
  height:15px;
}
#u286 {
  position:absolute;
  left:28px;
  top:94px;
  width:363px;
  height:15px;
}
#u287 {
  position:absolute;
  left:2px;
  top:0px;
  width:359px;
  visibility:hidden;
  word-wrap:break-word;
}
#u288_img {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:665px;
}
#u288 {
  position:absolute;
  left:23px;
  top:91px;
  width:374px;
  height:665px;
}
#u289 {
  position:absolute;
  left:2px;
  top:324px;
  width:370px;
  visibility:hidden;
  word-wrap:break-word;
}
#u290 {
  position:absolute;
  left:50px;
  top:403px;
  width:321px;
  height:56px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u291 {
  position:absolute;
  left:23px;
  top:108px;
  width:43px;
  height:46px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u292_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u292 {
  position:absolute;
  left:546px;
  top:212px;
  width:71px;
  height:48px;
  text-align:center;
}
#u293 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u294_div {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u294 {
  position:absolute;
  left:491px;
  top:396px;
  width:55px;
  height:16px;
}
#u295 {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  white-space:nowrap;
}
#u296_div {
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:45px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:40px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
  color:#FFFFFF;
}
#u296 {
  position:absolute;
  left:491px;
  top:422px;
  width:156px;
  height:45px;
  font-size:15px;
  color:#FFFFFF;
}
#u297 {
  position:absolute;
  left:2px;
  top:14px;
  width:152px;
  word-wrap:break-word;
}
#u298_img {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:665px;
}
#u298 {
  position:absolute;
  left:738px;
  top:91px;
  width:374px;
  height:665px;
}
#u299 {
  position:absolute;
  left:2px;
  top:324px;
  width:370px;
  visibility:hidden;
  word-wrap:break-word;
}
#u300_img {
  position:absolute;
  left:-2px;
  top:-10px;
  width:334px;
  height:25px;
}
#u300 {
  position:absolute;
  left:413px;
  top:189px;
  width:322px;
  height:5px;
}
#u301 {
  position:absolute;
  left:2px;
  top:-6px;
  width:318px;
  visibility:hidden;
  word-wrap:break-word;
}
