body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:655px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2445_img {
  position:absolute;
  left:0px;
  top:0px;
  width:421px;
  height:848px;
}
#u2445 {
  position:absolute;
  left:0px;
  top:0px;
  width:421px;
  height:848px;
}
#u2446 {
  position:absolute;
  left:2px;
  top:416px;
  width:417px;
  word-wrap:break-word;
}
#u2447_div {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:667px;
  background:inherit;
  background-color:rgba(229, 229, 229, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2447 {
  position:absolute;
  left:22px;
  top:90px;
  width:376px;
  height:667px;
}
#u2448 {
  position:absolute;
  left:2px;
  top:326px;
  width:372px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2449_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:64px;
}
#u2449 {
  position:absolute;
  left:22px;
  top:90px;
  width:376px;
  height:64px;
}
#u2450 {
  position:absolute;
  left:2px;
  top:24px;
  width:372px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2451_img {
  position:absolute;
  left:0px;
  top:0px;
  width:363px;
  height:15px;
}
#u2451 {
  position:absolute;
  left:28px;
  top:94px;
  width:363px;
  height:15px;
}
#u2452 {
  position:absolute;
  left:2px;
  top:0px;
  width:359px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2453_img {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:665px;
}
#u2453 {
  position:absolute;
  left:23px;
  top:91px;
  width:374px;
  height:665px;
}
#u2454 {
  position:absolute;
  left:2px;
  top:324px;
  width:370px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2455 {
  position:absolute;
  left:43px;
  top:652px;
  width:335px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2456 {
  position:absolute;
  left:23px;
  top:118px;
  width:28px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2457_div {
  position:absolute;
  left:0px;
  top:0px;
  width:218px;
  height:63px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u2457 {
  position:absolute;
  left:437px;
  top:316px;
  width:218px;
  height:63px;
  font-size:14px;
}
#u2458 {
  position:absolute;
  left:0px;
  top:0px;
  width:218px;
  word-wrap:break-word;
}
