body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:604px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1533_img {
  position:absolute;
  left:0px;
  top:0px;
  width:421px;
  height:848px;
}
#u1533 {
  position:absolute;
  left:0px;
  top:0px;
  width:421px;
  height:848px;
}
#u1534 {
  position:absolute;
  left:2px;
  top:416px;
  width:417px;
  word-wrap:break-word;
}
#u1535_div {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:667px;
  background:inherit;
  background-color:rgba(229, 229, 229, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1535 {
  position:absolute;
  left:22px;
  top:90px;
  width:376px;
  height:667px;
}
#u1536 {
  position:absolute;
  left:2px;
  top:326px;
  width:372px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1537_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:64px;
}
#u1537 {
  position:absolute;
  left:22px;
  top:90px;
  width:376px;
  height:64px;
}
#u1538 {
  position:absolute;
  left:2px;
  top:24px;
  width:372px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1539_img {
  position:absolute;
  left:0px;
  top:0px;
  width:363px;
  height:15px;
}
#u1539 {
  position:absolute;
  left:28px;
  top:94px;
  width:363px;
  height:15px;
}
#u1540 {
  position:absolute;
  left:2px;
  top:0px;
  width:359px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1541_img {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:665px;
}
#u1541 {
  position:absolute;
  left:23px;
  top:91px;
  width:374px;
  height:665px;
}
#u1542 {
  position:absolute;
  left:2px;
  top:324px;
  width:370px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1543 {
  position:absolute;
  left:117px;
  top:291px;
  width:94px;
  height:46px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1544 {
  position:absolute;
  left:210px;
  top:291px;
  width:94px;
  height:46px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1545 {
  position:absolute;
  left:304px;
  top:291px;
  width:94px;
  height:46px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1546 {
  position:absolute;
  left:24px;
  top:109px;
  width:51px;
  height:46px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1547 {
  position:absolute;
  left:346px;
  top:109px;
  width:51px;
  height:46px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1548 {
  position:absolute;
  left:85px;
  top:109px;
  width:251px;
  height:46px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1549 {
  position:absolute;
  left:23px;
  top:155px;
  width:374px;
  height:126px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1550 {
  position:absolute;
  left:23px;
  top:347px;
  width:374px;
  height:327px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1551_img {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:16px;
}
#u1551 {
  position:absolute;
  left:421px;
  top:389px;
  width:183px;
  height:16px;
}
#u1552 {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  white-space:nowrap;
}
