body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:638px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u737_img {
  position:absolute;
  left:0px;
  top:0px;
  width:421px;
  height:848px;
}
#u737 {
  position:absolute;
  left:0px;
  top:0px;
  width:421px;
  height:848px;
}
#u738 {
  position:absolute;
  left:2px;
  top:416px;
  width:417px;
  word-wrap:break-word;
}
#u739_div {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:667px;
  background:inherit;
  background-color:rgba(229, 229, 229, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u739 {
  position:absolute;
  left:22px;
  top:90px;
  width:376px;
  height:667px;
}
#u740 {
  position:absolute;
  left:2px;
  top:326px;
  width:372px;
  visibility:hidden;
  word-wrap:break-word;
}
#u741_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:64px;
}
#u741 {
  position:absolute;
  left:22px;
  top:90px;
  width:376px;
  height:64px;
}
#u742 {
  position:absolute;
  left:2px;
  top:24px;
  width:372px;
  visibility:hidden;
  word-wrap:break-word;
}
#u743_img {
  position:absolute;
  left:0px;
  top:0px;
  width:363px;
  height:15px;
}
#u743 {
  position:absolute;
  left:28px;
  top:94px;
  width:363px;
  height:15px;
}
#u744 {
  position:absolute;
  left:2px;
  top:0px;
  width:359px;
  visibility:hidden;
  word-wrap:break-word;
}
#u745_img {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:665px;
}
#u745 {
  position:absolute;
  left:23px;
  top:91px;
  width:374px;
  height:665px;
}
#u746 {
  position:absolute;
  left:2px;
  top:324px;
  width:370px;
  visibility:hidden;
  word-wrap:break-word;
}
#u747 {
  position:absolute;
  left:23px;
  top:153px;
  width:386px;
  height:410px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u748 {
  position:absolute;
  left:23px;
  top:116px;
  width:43px;
  height:37px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u749 {
  position:absolute;
  left:487px;
  top:234px;
  width:0px;
  height:0px;
}
#u749_seg0 {
  position:absolute;
  left:-4px;
  top:-8px;
  width:8px;
  height:8px;
}
#u749_seg1 {
  position:absolute;
  left:-88px;
  top:-8px;
  width:92px;
  height:8px;
}
#u750 {
  position:absolute;
  left:-92px;
  top:-12px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u751_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u751 {
  position:absolute;
  left:473px;
  top:222px;
  width:30px;
  height:30px;
}
#u752 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  word-wrap:break-word;
}
#u753_div {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
}
#u753 {
  position:absolute;
  left:513px;
  top:228px;
  width:125px;
  height:34px;
  font-size:15px;
}
#u754 {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  word-wrap:break-word;
}
