body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:421px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1515_img {
  position:absolute;
  left:0px;
  top:0px;
  width:421px;
  height:848px;
}
#u1515 {
  position:absolute;
  left:0px;
  top:0px;
  width:421px;
  height:848px;
}
#u1516 {
  position:absolute;
  left:2px;
  top:416px;
  width:417px;
  word-wrap:break-word;
}
#u1517_div {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:667px;
  background:inherit;
  background-color:rgba(229, 229, 229, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1517 {
  position:absolute;
  left:22px;
  top:90px;
  width:376px;
  height:667px;
}
#u1518 {
  position:absolute;
  left:2px;
  top:326px;
  width:372px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1519_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:64px;
}
#u1519 {
  position:absolute;
  left:22px;
  top:90px;
  width:376px;
  height:64px;
}
#u1520 {
  position:absolute;
  left:2px;
  top:24px;
  width:372px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1521_img {
  position:absolute;
  left:0px;
  top:0px;
  width:363px;
  height:15px;
}
#u1521 {
  position:absolute;
  left:28px;
  top:94px;
  width:363px;
  height:15px;
}
#u1522 {
  position:absolute;
  left:2px;
  top:0px;
  width:359px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1523_img {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:665px;
}
#u1523 {
  position:absolute;
  left:23px;
  top:91px;
  width:374px;
  height:665px;
}
#u1524 {
  position:absolute;
  left:2px;
  top:324px;
  width:370px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1525_img {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:666px;
}
#u1525 {
  position:absolute;
  left:23px;
  top:91px;
  width:374px;
  height:666px;
}
#u1526 {
  position:absolute;
  left:2px;
  top:325px;
  width:370px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1527 {
  position:absolute;
  left:23px;
  top:156px;
  width:374px;
  height:600px;
  overflow:hidden;
}
#u1527_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:600px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u1527_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1528 {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:3496px;
  overflow:hidden;
  touch-action:none;
}
#u1528_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:3496px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u1528_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1529_img {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:3499px;
}
#u1529 {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:3499px;
}
#u1530 {
  position:absolute;
  left:2px;
  top:1742px;
  width:370px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1531 {
  position:absolute;
  left:23px;
  top:111px;
  width:43px;
  height:43px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
