body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:766px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1481_img {
  position:absolute;
  left:0px;
  top:0px;
  width:421px;
  height:848px;
}
#u1481 {
  position:absolute;
  left:0px;
  top:0px;
  width:421px;
  height:848px;
}
#u1482 {
  position:absolute;
  left:2px;
  top:416px;
  width:417px;
  word-wrap:break-word;
}
#u1483_div {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:667px;
  background:inherit;
  background-color:rgba(229, 229, 229, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1483 {
  position:absolute;
  left:22px;
  top:90px;
  width:376px;
  height:667px;
}
#u1484 {
  position:absolute;
  left:2px;
  top:326px;
  width:372px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1485_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:64px;
}
#u1485 {
  position:absolute;
  left:22px;
  top:90px;
  width:376px;
  height:64px;
}
#u1486 {
  position:absolute;
  left:2px;
  top:24px;
  width:372px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1487_img {
  position:absolute;
  left:0px;
  top:0px;
  width:363px;
  height:15px;
}
#u1487 {
  position:absolute;
  left:28px;
  top:94px;
  width:363px;
  height:15px;
}
#u1488 {
  position:absolute;
  left:2px;
  top:0px;
  width:359px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1489_img {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:665px;
}
#u1489 {
  position:absolute;
  left:23px;
  top:91px;
  width:374px;
  height:665px;
}
#u1490 {
  position:absolute;
  left:2px;
  top:324px;
  width:370px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1491 {
  position:absolute;
  left:23px;
  top:111px;
  width:43px;
  height:43px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1492_div {
  position:absolute;
  left:0px;
  top:0px;
  width:331px;
  height:95px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u1492 {
  position:absolute;
  left:435px;
  top:338px;
  width:331px;
  height:95px;
  font-size:16px;
}
#u1493 {
  position:absolute;
  left:0px;
  top:0px;
  width:331px;
  word-wrap:break-word;
}
