body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1310px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2145_img {
  position:absolute;
  left:0px;
  top:0px;
  width:421px;
  height:848px;
}
#u2145 {
  position:absolute;
  left:0px;
  top:0px;
  width:421px;
  height:848px;
}
#u2146 {
  position:absolute;
  left:2px;
  top:416px;
  width:417px;
  word-wrap:break-word;
}
#u2147_div {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:667px;
  background:inherit;
  background-color:rgba(229, 229, 229, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2147 {
  position:absolute;
  left:22px;
  top:90px;
  width:376px;
  height:667px;
}
#u2148 {
  position:absolute;
  left:2px;
  top:326px;
  width:372px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2149_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:64px;
}
#u2149 {
  position:absolute;
  left:22px;
  top:90px;
  width:376px;
  height:64px;
}
#u2150 {
  position:absolute;
  left:2px;
  top:24px;
  width:372px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2151_img {
  position:absolute;
  left:0px;
  top:0px;
  width:363px;
  height:15px;
}
#u2151 {
  position:absolute;
  left:28px;
  top:94px;
  width:363px;
  height:15px;
}
#u2152 {
  position:absolute;
  left:2px;
  top:0px;
  width:359px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2153_img {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:64px;
}
#u2153 {
  position:absolute;
  left:23px;
  top:91px;
  width:374px;
  height:64px;
}
#u2154 {
  position:absolute;
  left:2px;
  top:24px;
  width:370px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2155 {
  position:absolute;
  left:23px;
  top:156px;
  width:852px;
  height:600px;
  overflow:hidden;
}
#u2155_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:852px;
  height:600px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u2155_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2156 {
  position:absolute;
  left:0px;
  top:0px;
  width:986px;
  height:934px;
  overflow:hidden;
  touch-action:none;
}
#u2156_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:986px;
  height:934px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u2156_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2157 {
  position:absolute;
  left:0px;
  top:186px;
  width:374px;
  height:43px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2158_img {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:933px;
}
#u2158 {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:933px;
}
#u2159 {
  position:absolute;
  left:2px;
  top:458px;
  width:370px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2160 {
  position:absolute;
  left:0px;
  top:245px;
  width:374px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2161 {
  position:absolute;
  left:189px;
  top:893px;
  width:185px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2162 {
  position:absolute;
  left:476px;
  top:876px;
  width:0px;
  height:0px;
}
#u2162_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:15px;
}
#u2162_seg1 {
  position:absolute;
  left:-355px;
  top:7px;
  width:359px;
  height:8px;
}
#u2162_seg2 {
  position:absolute;
  left:-355px;
  top:7px;
  width:8px;
  height:15px;
}
#u2163 {
  position:absolute;
  left:-226px;
  top:3px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2164_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2164 {
  position:absolute;
  left:505px;
  top:848px;
  width:113px;
  height:16px;
}
#u2165 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u2166_img {
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  height:46px;
}
#u2166 {
  position:absolute;
  left:628px;
  top:833px;
  width:226px;
  height:46px;
}
#u2167 {
  position:absolute;
  left:2px;
  top:15px;
  width:222px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2168_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2168 {
  position:absolute;
  left:505px;
  top:903px;
  width:43px;
  height:16px;
}
#u2169 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u2170_img {
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  height:46px;
}
#u2170 {
  position:absolute;
  left:558px;
  top:889px;
  width:195px;
  height:46px;
}
#u2171 {
  position:absolute;
  left:2px;
  top:15px;
  width:191px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2172_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u2172 {
  position:absolute;
  left:465px;
  top:869px;
  width:30px;
  height:30px;
}
#u2173 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  word-wrap:break-word;
}
#u2174 {
  position:absolute;
  left:23px;
  top:110px;
  width:44px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2175 {
  position:absolute;
  left:359px;
  top:110px;
  width:44px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2176_img {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:671px;
}
#u2176 {
  position:absolute;
  left:904px;
  top:91px;
  width:374px;
  height:665px;
}
#u2177 {
  position:absolute;
  left:2px;
  top:324px;
  width:370px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2178_div {
  position:absolute;
  left:0px;
  top:0px;
  width:421px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2178 {
  position:absolute;
  left:889px;
  top:783px;
  width:421px;
  height:16px;
}
#u2179 {
  position:absolute;
  left:0px;
  top:0px;
  width:421px;
  white-space:nowrap;
}
