body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1552px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1666_img {
  position:absolute;
  left:0px;
  top:0px;
  width:421px;
  height:848px;
}
#u1666 {
  position:absolute;
  left:0px;
  top:0px;
  width:421px;
  height:848px;
}
#u1667 {
  position:absolute;
  left:2px;
  top:416px;
  width:417px;
  word-wrap:break-word;
}
#u1668_div {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:667px;
  background:inherit;
  background-color:rgba(229, 229, 229, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1668 {
  position:absolute;
  left:22px;
  top:90px;
  width:376px;
  height:667px;
}
#u1669 {
  position:absolute;
  left:2px;
  top:326px;
  width:372px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1670_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:64px;
}
#u1670 {
  position:absolute;
  left:22px;
  top:90px;
  width:376px;
  height:64px;
}
#u1671 {
  position:absolute;
  left:2px;
  top:24px;
  width:372px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1672_img {
  position:absolute;
  left:0px;
  top:0px;
  width:363px;
  height:15px;
}
#u1672 {
  position:absolute;
  left:28px;
  top:94px;
  width:363px;
  height:15px;
}
#u1673 {
  position:absolute;
  left:2px;
  top:0px;
  width:359px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1674 {
  position:absolute;
  left:23px;
  top:156px;
  width:1057px;
  height:600px;
  overflow:hidden;
}
#u1674_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1057px;
  height:600px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u1674_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1675 {
  position:absolute;
  left:0px;
  top:0px;
  width:1059px;
  height:1100px;
  overflow:hidden;
  touch-action:none;
}
#u1675_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1059px;
  height:1100px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u1675_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1676_img {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:1018px;
}
#u1676 {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:1018px;
}
#u1677 {
  position:absolute;
  left:2px;
  top:501px;
  width:370px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1678 {
  position:absolute;
  left:15px;
  top:232px;
  width:109px;
  height:43px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1679 {
  position:absolute;
  left:252px;
  top:232px;
  width:116px;
  height:43px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1680 {
  position:absolute;
  left:0px;
  top:528px;
  width:368px;
  height:43px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1681 {
  position:absolute;
  left:3px;
  top:682px;
  width:368px;
  height:43px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1682 {
  position:absolute;
  left:252px;
  top:829px;
  width:119px;
  height:43px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1683 {
  position:absolute;
  left:133px;
  top:232px;
  width:109px;
  height:43px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1684_div {
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u1684 {
  position:absolute;
  left:438px;
  top:705px;
  width:195px;
  height:32px;
  font-size:14px;
}
#u1685 {
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  word-wrap:break-word;
}
#u1686_div {
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u1686 {
  position:absolute;
  left:436px;
  top:29px;
  width:195px;
  height:48px;
  font-size:14px;
}
#u1687 {
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  word-wrap:break-word;
}
#u1688_div {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:64px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u1688 {
  position:absolute;
  left:436px;
  top:239px;
  width:200px;
  height:64px;
  font-size:14px;
}
#u1689 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u1690_div {
  position:absolute;
  left:0px;
  top:0px;
  width:264px;
  height:96px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u1690 {
  position:absolute;
  left:436px;
  top:313px;
  width:264px;
  height:96px;
  font-size:14px;
}
#u1691 {
  position:absolute;
  left:0px;
  top:0px;
  width:264px;
  word-wrap:break-word;
}
#u1692_div {
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  height:51px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u1692 {
  position:absolute;
  left:438px;
  top:624px;
  width:195px;
  height:51px;
  font-size:14px;
}
#u1693 {
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  word-wrap:break-word;
}
#u1694_div {
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u1694 {
  position:absolute;
  left:438px;
  top:747px;
  width:195px;
  height:16px;
  font-size:14px;
}
#u1695 {
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  word-wrap:break-word;
}
#u1696_img {
  position:absolute;
  left:0px;
  top:0px;
  width:285px;
  height:196px;
}
#u1696 {
  position:absolute;
  left:744px;
  top:156px;
  width:285px;
  height:196px;
}
#u1697 {
  position:absolute;
  left:2px;
  top:90px;
  width:281px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1698_img {
  position:absolute;
  left:-2px;
  top:-10px;
  width:100px;
  height:25px;
}
#u1698 {
  position:absolute;
  left:646px;
  top:244px;
  width:88px;
  height:5px;
}
#u1699 {
  position:absolute;
  left:2px;
  top:-6px;
  width:84px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1700_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:144px;
}
#u1700 {
  position:absolute;
  left:438px;
  top:85px;
  width:300px;
  height:144px;
  font-size:14px;
}
#u1701 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u1702_div {
  position:absolute;
  left:0px;
  top:0px;
  width:267px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1702 {
  position:absolute;
  left:438px;
  top:585px;
  width:267px;
  height:16px;
}
#u1703 {
  position:absolute;
  left:0px;
  top:0px;
  width:267px;
  white-space:nowrap;
}
#u1704_div {
  position:absolute;
  left:0px;
  top:0px;
  width:267px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1704 {
  position:absolute;
  left:438px;
  top:787px;
  width:267px;
  height:16px;
}
#u1705 {
  position:absolute;
  left:0px;
  top:0px;
  width:267px;
  white-space:nowrap;
}
#u1706_img {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:64px;
}
#u1706 {
  position:absolute;
  left:23px;
  top:91px;
  width:374px;
  height:64px;
}
#u1707 {
  position:absolute;
  left:2px;
  top:24px;
  width:370px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1708 {
  position:absolute;
  left:23px;
  top:112px;
  width:43px;
  height:43px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1709 {
  position:absolute;
  left:365px;
  top:112px;
  width:32px;
  height:43px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1710_div {
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u1710 {
  position:absolute;
  left:435px;
  top:72px;
  width:195px;
  height:32px;
  font-size:14px;
}
#u1711 {
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  word-wrap:break-word;
}
#u1712_img {
  position:absolute;
  left:0px;
  top:0px;
  width:462px;
  height:807px;
}
#u1712 {
  position:absolute;
  left:1090px;
  top:53px;
  width:462px;
  height:807px;
}
#u1713 {
  position:absolute;
  left:2px;
  top:396px;
  width:458px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1714_div {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:40px;
  background:inherit;
  background-color:rgba(67, 67, 67, 0.498039215686275);
  border:none;
  border-radius:55px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
  color:#FFFFFF;
}
#u1714 {
  position:absolute;
  left:640px;
  top:64px;
  width:102px;
  height:40px;
  font-size:15px;
  color:#FFFFFF;
}
#u1715 {
  position:absolute;
  left:2px;
  top:12px;
  width:98px;
  word-wrap:break-word;
}
#u1716_div {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:40px;
  background:inherit;
  background-color:rgba(67, 67, 67, 0.498039215686275);
  border:none;
  border-radius:55px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
  color:#FFFFFF;
}
#u1716 {
  position:absolute;
  left:640px;
  top:114px;
  width:102px;
  height:40px;
  font-size:15px;
  color:#FFFFFF;
}
#u1717 {
  position:absolute;
  left:2px;
  top:12px;
  width:98px;
  word-wrap:break-word;
}
#u1718_div {
  position:absolute;
  left:0px;
  top:0px;
  width:286px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1718 {
  position:absolute;
  left:794px;
  top:806px;
  width:286px;
  height:32px;
}
#u1719 {
  position:absolute;
  left:0px;
  top:0px;
  width:286px;
  word-wrap:break-word;
}
