body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:798px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1423_img {
  position:absolute;
  left:0px;
  top:0px;
  width:421px;
  height:848px;
}
#u1423 {
  position:absolute;
  left:0px;
  top:0px;
  width:421px;
  height:848px;
}
#u1424 {
  position:absolute;
  left:2px;
  top:416px;
  width:417px;
  word-wrap:break-word;
}
#u1425_div {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:667px;
  background:inherit;
  background-color:rgba(229, 229, 229, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1425 {
  position:absolute;
  left:22px;
  top:90px;
  width:376px;
  height:667px;
}
#u1426 {
  position:absolute;
  left:2px;
  top:326px;
  width:372px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1427_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:64px;
}
#u1427 {
  position:absolute;
  left:22px;
  top:90px;
  width:376px;
  height:64px;
}
#u1428 {
  position:absolute;
  left:2px;
  top:24px;
  width:372px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1429_img {
  position:absolute;
  left:0px;
  top:0px;
  width:363px;
  height:15px;
}
#u1429 {
  position:absolute;
  left:28px;
  top:94px;
  width:363px;
  height:15px;
}
#u1430 {
  position:absolute;
  left:2px;
  top:0px;
  width:359px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1431_img {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:665px;
}
#u1431 {
  position:absolute;
  left:23px;
  top:91px;
  width:374px;
  height:665px;
}
#u1432 {
  position:absolute;
  left:2px;
  top:324px;
  width:370px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1433 {
  position:absolute;
  left:23px;
  top:111px;
  width:43px;
  height:43px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1434 {
  position:absolute;
  left:361px;
  top:114px;
  width:31px;
  height:37px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1435_div {
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
}
#u1435 {
  position:absolute;
  left:515px;
  top:82px;
  width:195px;
  height:26px;
  font-size:15px;
}
#u1436 {
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  word-wrap:break-word;
}
#u1437 {
  position:absolute;
  left:481px;
  top:126px;
  width:0px;
  height:0px;
}
#u1437_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:6px;
}
#u1437_seg1 {
  position:absolute;
  left:-84px;
  top:-2px;
  width:88px;
  height:8px;
}
#u1438 {
  position:absolute;
  left:-91px;
  top:-6px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1439 {
  position:absolute;
  left:474px;
  top:477px;
  width:0px;
  height:0px;
}
#u1439_seg0 {
  position:absolute;
  left:-70px;
  top:-4px;
  width:74px;
  height:8px;
}
#u1440 {
  position:absolute;
  left:-85px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1441_div {
  position:absolute;
  left:0px;
  top:0px;
  width:283px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
}
#u1441 {
  position:absolute;
  left:515px;
  top:468px;
  width:283px;
  height:17px;
  font-size:15px;
}
#u1442 {
  position:absolute;
  left:0px;
  top:0px;
  width:283px;
  word-wrap:break-word;
}
#u1443_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u1443 {
  position:absolute;
  left:458px;
  top:114px;
  width:30px;
  height:30px;
}
#u1444 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  word-wrap:break-word;
}
#u1445_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u1445 {
  position:absolute;
  left:458px;
  top:462px;
  width:30px;
  height:30px;
}
#u1446 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  word-wrap:break-word;
}
#u1447 {
  position:absolute;
  left:23px;
  top:455px;
  width:374px;
  height:43px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1448_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u1448 {
  position:absolute;
  left:670px;
  top:118px;
  width:30px;
  height:30px;
}
#u1449 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1450_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u1450 {
  position:absolute;
  left:566px;
  top:118px;
  width:30px;
  height:30px;
}
#u1451 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1452_div {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
}
#u1452 {
  position:absolute;
  left:515px;
  top:124px;
  width:63px;
  height:26px;
  font-size:15px;
}
#u1453 {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  word-wrap:break-word;
}
#u1454_div {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
}
#u1454 {
  position:absolute;
  left:618px;
  top:124px;
  width:63px;
  height:26px;
  font-size:15px;
}
#u1455 {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  word-wrap:break-word;
}
