body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:671px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u3873_img {
  position:absolute;
  left:0px;
  top:0px;
  width:421px;
  height:848px;
}
#u3873 {
  position:absolute;
  left:0px;
  top:0px;
  width:421px;
  height:848px;
}
#u3874 {
  position:absolute;
  left:2px;
  top:416px;
  width:417px;
  word-wrap:break-word;
}
#u3875_div {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:667px;
  background:inherit;
  background-color:rgba(229, 229, 229, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3875 {
  position:absolute;
  left:22px;
  top:90px;
  width:376px;
  height:667px;
}
#u3876 {
  position:absolute;
  left:2px;
  top:326px;
  width:372px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3877_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:64px;
}
#u3877 {
  position:absolute;
  left:22px;
  top:90px;
  width:376px;
  height:64px;
}
#u3878 {
  position:absolute;
  left:2px;
  top:24px;
  width:372px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3879_img {
  position:absolute;
  left:0px;
  top:0px;
  width:363px;
  height:15px;
}
#u3879 {
  position:absolute;
  left:28px;
  top:94px;
  width:363px;
  height:15px;
}
#u3880 {
  position:absolute;
  left:2px;
  top:0px;
  width:359px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3881_img {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:665px;
}
#u3881 {
  position:absolute;
  left:23px;
  top:91px;
  width:374px;
  height:665px;
}
#u3882 {
  position:absolute;
  left:2px;
  top:324px;
  width:370px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3883 {
  position:absolute;
  left:23px;
  top:108px;
  width:33px;
  height:51px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u3884_div {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
}
#u3884 {
  position:absolute;
  left:506px;
  top:207px;
  width:165px;
  height:17px;
  font-size:15px;
}
#u3885 {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  word-wrap:break-word;
}
#u3886_div {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
}
#u3886 {
  position:absolute;
  left:506px;
  top:340px;
  width:165px;
  height:17px;
  font-size:15px;
}
#u3887 {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  word-wrap:break-word;
}
#u3888_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u3888 {
  position:absolute;
  left:466px;
  top:201px;
  width:30px;
  height:30px;
}
#u3889 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  word-wrap:break-word;
}
#u3890 {
  position:absolute;
  left:466px;
  top:216px;
  width:0px;
  height:0px;
}
#u3890_seg0 {
  position:absolute;
  left:-269px;
  top:-4px;
  width:269px;
  height:8px;
}
#u3890_seg1 {
  position:absolute;
  left:-269px;
  top:-7px;
  width:8px;
  height:11px;
}
#u3891 {
  position:absolute;
  left:-186px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3892 {
  position:absolute;
  left:470px;
  top:344px;
  width:0px;
  height:0px;
}
#u3892_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:11px;
}
#u3892_seg1 {
  position:absolute;
  left:-106px;
  top:3px;
  width:110px;
  height:8px;
}
#u3893 {
  position:absolute;
  left:-100px;
  top:-1px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3894_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u3894 {
  position:absolute;
  left:466px;
  top:327px;
  width:30px;
  height:30px;
}
#u3895 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  word-wrap:break-word;
}
