body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1032px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2948_img {
  position:absolute;
  left:0px;
  top:0px;
  width:421px;
  height:848px;
}
#u2948 {
  position:absolute;
  left:0px;
  top:0px;
  width:421px;
  height:848px;
}
#u2949 {
  position:absolute;
  left:2px;
  top:416px;
  width:417px;
  word-wrap:break-word;
}
#u2950_div {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:667px;
  background:inherit;
  background-color:rgba(229, 229, 229, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2950 {
  position:absolute;
  left:22px;
  top:90px;
  width:376px;
  height:667px;
}
#u2951 {
  position:absolute;
  left:2px;
  top:326px;
  width:372px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2952_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:64px;
}
#u2952 {
  position:absolute;
  left:22px;
  top:90px;
  width:376px;
  height:64px;
}
#u2953 {
  position:absolute;
  left:2px;
  top:24px;
  width:372px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2954_img {
  position:absolute;
  left:0px;
  top:0px;
  width:363px;
  height:15px;
}
#u2954 {
  position:absolute;
  left:28px;
  top:94px;
  width:363px;
  height:15px;
}
#u2955 {
  position:absolute;
  left:2px;
  top:0px;
  width:359px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2956_img {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:665px;
}
#u2956 {
  position:absolute;
  left:23px;
  top:91px;
  width:374px;
  height:665px;
}
#u2957 {
  position:absolute;
  left:2px;
  top:324px;
  width:370px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2958 {
  position:absolute;
  left:23px;
  top:111px;
  width:37px;
  height:46px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2959 {
  position:absolute;
  left:115px;
  top:388px;
  width:192px;
  height:48px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2960_img {
  position:absolute;
  left:0px;
  top:0px;
  width:407px;
  height:848px;
}
#u2960 {
  position:absolute;
  left:625px;
  top:0px;
  width:407px;
  height:848px;
}
#u2961 {
  position:absolute;
  left:2px;
  top:416px;
  width:403px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2962 {
  position:absolute;
  left:618px;
  top:463px;
  width:0px;
  height:0px;
}
#u2962_seg0 {
  position:absolute;
  left:-368px;
  top:-4px;
  width:372px;
  height:8px;
}
#u2963 {
  position:absolute;
  left:-234px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2964_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u2964 {
  position:absolute;
  left:431px;
  top:302px;
  width:97px;
  height:19px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u2965 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u2966 {
  position:absolute;
  left:448px;
  top:331px;
  width:0px;
  height:0px;
}
#u2966_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:36px;
}
#u2966_seg1 {
  position:absolute;
  left:-191px;
  top:28px;
  width:195px;
  height:8px;
}
#u2966_seg2 {
  position:absolute;
  left:-191px;
  top:-11px;
  width:8px;
  height:47px;
}
#u2966_seg3 {
  position:absolute;
  left:-190px;
  top:-11px;
  width:7px;
  height:8px;
}
#u2967 {
  position:absolute;
  left:-148px;
  top:24px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2968 {
  position:absolute;
  left:85px;
  top:293px;
  width:245px;
  height:48px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
