body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1051px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u687_img {
  position:absolute;
  left:0px;
  top:0px;
  width:421px;
  height:848px;
}
#u687 {
  position:absolute;
  left:0px;
  top:0px;
  width:421px;
  height:848px;
}
#u688 {
  position:absolute;
  left:2px;
  top:416px;
  width:417px;
  word-wrap:break-word;
}
#u689_div {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:667px;
  background:inherit;
  background-color:rgba(229, 229, 229, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u689 {
  position:absolute;
  left:22px;
  top:90px;
  width:376px;
  height:667px;
}
#u690 {
  position:absolute;
  left:2px;
  top:326px;
  width:372px;
  visibility:hidden;
  word-wrap:break-word;
}
#u691_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:64px;
}
#u691 {
  position:absolute;
  left:22px;
  top:90px;
  width:376px;
  height:64px;
}
#u692 {
  position:absolute;
  left:2px;
  top:24px;
  width:372px;
  visibility:hidden;
  word-wrap:break-word;
}
#u693_img {
  position:absolute;
  left:0px;
  top:0px;
  width:363px;
  height:15px;
}
#u693 {
  position:absolute;
  left:28px;
  top:94px;
  width:363px;
  height:15px;
}
#u694 {
  position:absolute;
  left:2px;
  top:0px;
  width:359px;
  visibility:hidden;
  word-wrap:break-word;
}
#u695_img {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:665px;
}
#u695 {
  position:absolute;
  left:23px;
  top:91px;
  width:374px;
  height:665px;
}
#u696 {
  position:absolute;
  left:2px;
  top:324px;
  width:370px;
  visibility:hidden;
  word-wrap:break-word;
}
#u697 {
  position:absolute;
  left:23px;
  top:109px;
  width:40px;
  height:49px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u698 {
  position:absolute;
  left:112px;
  top:391px;
  width:193px;
  height:49px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u699 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u700 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u701_img {
  position:absolute;
  left:0px;
  top:0px;
  width:377px;
  height:669px;
}
#u701 {
  position:absolute;
  left:488px;
  top:102px;
  width:377px;
  height:669px;
}
#u702 {
  position:absolute;
  left:2px;
  top:326px;
  width:373px;
  visibility:hidden;
  word-wrap:break-word;
}
#u703_img {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:170px;
}
#u703 {
  position:absolute;
  left:547px;
  top:301px;
  width:260px;
  height:170px;
}
#u704 {
  position:absolute;
  left:2px;
  top:77px;
  width:256px;
  visibility:hidden;
  word-wrap:break-word;
}
#u705_div {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  line-height:22px;
}
#u705 {
  position:absolute;
  left:583px;
  top:339px;
  width:201px;
  height:22px;
  line-height:22px;
}
#u706 {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  word-wrap:break-word;
}
#u707_img {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:45px;
}
#u707 {
  position:absolute;
  left:612px;
  top:398px;
  width:132px;
  height:45px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#9B4321;
}
#u708 {
  position:absolute;
  left:2px;
  top:13px;
  width:128px;
  word-wrap:break-word;
}
#u709_div {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
}
#u709 {
  position:absolute;
  left:563px;
  top:781px;
  width:200px;
  height:34px;
  font-size:15px;
}
#u710 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u711 {
  position:absolute;
  left:917px;
  top:363px;
  width:0px;
  height:0px;
}
#u711_seg0 {
  position:absolute;
  left:-4px;
  top:-7px;
  width:8px;
  height:7px;
}
#u711_seg1 {
  position:absolute;
  left:-112px;
  top:-7px;
  width:116px;
  height:8px;
}
#u712 {
  position:absolute;
  left:-104px;
  top:-11px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u713_div {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u713 {
  position:absolute;
  left:934px;
  top:355px;
  width:117px;
  height:32px;
}
#u714 {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  white-space:nowrap;
}
