body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:421px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u3781_img {
  position:absolute;
  left:0px;
  top:0px;
  width:421px;
  height:848px;
}
#u3781 {
  position:absolute;
  left:0px;
  top:0px;
  width:421px;
  height:848px;
}
#u3782 {
  position:absolute;
  left:2px;
  top:416px;
  width:417px;
  word-wrap:break-word;
}
#u3783_div {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:667px;
  background:inherit;
  background-color:rgba(229, 229, 229, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3783 {
  position:absolute;
  left:22px;
  top:90px;
  width:376px;
  height:667px;
}
#u3784 {
  position:absolute;
  left:2px;
  top:326px;
  width:372px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3785_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:64px;
}
#u3785 {
  position:absolute;
  left:22px;
  top:90px;
  width:376px;
  height:64px;
}
#u3786 {
  position:absolute;
  left:2px;
  top:24px;
  width:372px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3787_img {
  position:absolute;
  left:0px;
  top:0px;
  width:363px;
  height:15px;
}
#u3787 {
  position:absolute;
  left:28px;
  top:94px;
  width:363px;
  height:15px;
}
#u3788 {
  position:absolute;
  left:2px;
  top:0px;
  width:359px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3789_img {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:665px;
}
#u3789 {
  position:absolute;
  left:23px;
  top:91px;
  width:374px;
  height:665px;
}
#u3790 {
  position:absolute;
  left:2px;
  top:324px;
  width:370px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3791 {
  position:absolute;
  left:23px;
  top:116px;
  width:37px;
  height:44px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u3792 {
  position:absolute;
  left:23px;
  top:170px;
  width:366px;
  height:62px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u3793 {
  position:absolute;
  left:23px;
  top:242px;
  width:366px;
  height:48px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u3794 {
  position:absolute;
  left:23px;
  top:340px;
  width:366px;
  height:48px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u3795 {
  position:absolute;
  left:23px;
  top:451px;
  width:366px;
  height:48px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u3796 {
  position:absolute;
  left:23px;
  top:509px;
  width:366px;
  height:48px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u3797 {
  position:absolute;
  left:23px;
  top:564px;
  width:366px;
  height:48px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u3798 {
  position:absolute;
  left:23px;
  top:615px;
  width:366px;
  height:48px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
