body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:421px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u3924_img {
  position:absolute;
  left:0px;
  top:0px;
  width:421px;
  height:848px;
}
#u3924 {
  position:absolute;
  left:0px;
  top:0px;
  width:421px;
  height:848px;
}
#u3925 {
  position:absolute;
  left:2px;
  top:416px;
  width:417px;
  word-wrap:break-word;
}
#u3926_div {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:667px;
  background:inherit;
  background-color:rgba(229, 229, 229, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3926 {
  position:absolute;
  left:22px;
  top:90px;
  width:376px;
  height:667px;
}
#u3927 {
  position:absolute;
  left:2px;
  top:326px;
  width:372px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3928_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:64px;
}
#u3928 {
  position:absolute;
  left:22px;
  top:90px;
  width:376px;
  height:64px;
}
#u3929 {
  position:absolute;
  left:2px;
  top:24px;
  width:372px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3930_img {
  position:absolute;
  left:0px;
  top:0px;
  width:363px;
  height:15px;
}
#u3930 {
  position:absolute;
  left:28px;
  top:94px;
  width:363px;
  height:15px;
}
#u3931 {
  position:absolute;
  left:2px;
  top:0px;
  width:359px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3932_img {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:665px;
}
#u3932 {
  position:absolute;
  left:23px;
  top:91px;
  width:374px;
  height:665px;
}
#u3933 {
  position:absolute;
  left:2px;
  top:324px;
  width:370px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3934 {
  position:absolute;
  left:23px;
  top:116px;
  width:37px;
  height:44px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u3935 {
  position:absolute;
  left:23px;
  top:160px;
  width:125px;
  height:38px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u3936 {
  position:absolute;
  left:148px;
  top:160px;
  width:125px;
  height:38px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u3937 {
  position:absolute;
  left:272px;
  top:160px;
  width:125px;
  height:38px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
