body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1280px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1402_img {
  position:absolute;
  left:0px;
  top:0px;
  width:421px;
  height:848px;
}
#u1402 {
  position:absolute;
  left:0px;
  top:0px;
  width:421px;
  height:848px;
}
#u1403 {
  position:absolute;
  left:2px;
  top:416px;
  width:417px;
  word-wrap:break-word;
}
#u1404_div {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:667px;
  background:inherit;
  background-color:rgba(229, 229, 229, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1404 {
  position:absolute;
  left:22px;
  top:90px;
  width:376px;
  height:667px;
}
#u1405 {
  position:absolute;
  left:2px;
  top:326px;
  width:372px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1406_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:64px;
}
#u1406 {
  position:absolute;
  left:22px;
  top:90px;
  width:376px;
  height:64px;
}
#u1407 {
  position:absolute;
  left:2px;
  top:24px;
  width:372px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1408_img {
  position:absolute;
  left:0px;
  top:0px;
  width:363px;
  height:15px;
}
#u1408 {
  position:absolute;
  left:28px;
  top:94px;
  width:363px;
  height:15px;
}
#u1409 {
  position:absolute;
  left:2px;
  top:0px;
  width:359px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1410_img {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:665px;
}
#u1410 {
  position:absolute;
  left:23px;
  top:91px;
  width:374px;
  height:665px;
}
#u1411 {
  position:absolute;
  left:2px;
  top:324px;
  width:370px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1412_img {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:671px;
}
#u1412 {
  position:absolute;
  left:467px;
  top:91px;
  width:374px;
  height:665px;
}
#u1413 {
  position:absolute;
  left:2px;
  top:324px;
  width:370px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1414_img {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:671px;
}
#u1414 {
  position:absolute;
  left:906px;
  top:91px;
  width:374px;
  height:665px;
}
#u1415 {
  position:absolute;
  left:2px;
  top:324px;
  width:370px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1416 {
  position:absolute;
  left:24px;
  top:109px;
  width:35px;
  height:46px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1417 {
  position:absolute;
  left:85px;
  top:109px;
  width:261px;
  height:46px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1418 {
  position:absolute;
  left:24px;
  top:155px;
  width:125px;
  height:46px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1419 {
  position:absolute;
  left:149px;
  top:155px;
  width:115px;
  height:46px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1420 {
  position:absolute;
  left:264px;
  top:155px;
  width:133px;
  height:46px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1421 {
  position:absolute;
  left:24px;
  top:201px;
  width:373px;
  height:146px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
