body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:752px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1886_img {
  position:absolute;
  left:0px;
  top:0px;
  width:421px;
  height:848px;
}
#u1886 {
  position:absolute;
  left:0px;
  top:0px;
  width:421px;
  height:848px;
}
#u1887 {
  position:absolute;
  left:2px;
  top:416px;
  width:417px;
  word-wrap:break-word;
}
#u1888_div {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:667px;
  background:inherit;
  background-color:rgba(229, 229, 229, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1888 {
  position:absolute;
  left:22px;
  top:90px;
  width:376px;
  height:667px;
}
#u1889 {
  position:absolute;
  left:2px;
  top:326px;
  width:372px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1890_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:64px;
}
#u1890 {
  position:absolute;
  left:22px;
  top:90px;
  width:376px;
  height:64px;
}
#u1891 {
  position:absolute;
  left:2px;
  top:24px;
  width:372px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1892_img {
  position:absolute;
  left:0px;
  top:0px;
  width:363px;
  height:15px;
}
#u1892 {
  position:absolute;
  left:28px;
  top:94px;
  width:363px;
  height:15px;
}
#u1893 {
  position:absolute;
  left:2px;
  top:0px;
  width:359px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1894_img {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:64px;
}
#u1894 {
  position:absolute;
  left:23px;
  top:91px;
  width:374px;
  height:64px;
}
#u1895 {
  position:absolute;
  left:2px;
  top:24px;
  width:370px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1896 {
  position:absolute;
  left:23px;
  top:156px;
  width:729px;
  height:600px;
  overflow:hidden;
}
#u1896_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:729px;
  height:600px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u1896_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1897 {
  position:absolute;
  left:0px;
  top:0px;
  width:714px;
  height:884px;
  overflow:hidden;
  touch-action:none;
}
#u1897_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:714px;
  height:884px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u1897_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1898_img {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:883px;
}
#u1898 {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:883px;
}
#u1899 {
  position:absolute;
  left:2px;
  top:434px;
  width:370px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1900 {
  position:absolute;
  left:0px;
  top:186px;
  width:374px;
  height:43px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1901_div {
  position:absolute;
  left:0px;
  top:0px;
  width:283px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
}
#u1901 {
  position:absolute;
  left:406px;
  top:518px;
  width:283px;
  height:17px;
  font-size:15px;
}
#u1902 {
  position:absolute;
  left:0px;
  top:0px;
  width:283px;
  word-wrap:break-word;
}
#u1903_div {
  position:absolute;
  left:0px;
  top:0px;
  width:283px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
}
#u1903 {
  position:absolute;
  left:406px;
  top:204px;
  width:283px;
  height:17px;
  font-size:15px;
}
#u1904 {
  position:absolute;
  left:0px;
  top:0px;
  width:283px;
  word-wrap:break-word;
}
#u1905_div {
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
}
#u1905 {
  position:absolute;
  left:435px;
  top:129px;
  width:195px;
  height:34px;
  font-size:15px;
}
#u1906 {
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  word-wrap:break-word;
}
#u1907 {
  position:absolute;
  left:23px;
  top:112px;
  width:39px;
  height:43px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1908 {
  position:absolute;
  left:364px;
  top:112px;
  width:39px;
  height:43px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
