body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:421px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u930_img {
  position:absolute;
  left:0px;
  top:0px;
  width:421px;
  height:848px;
}
#u930 {
  position:absolute;
  left:0px;
  top:0px;
  width:421px;
  height:848px;
}
#u931 {
  position:absolute;
  left:2px;
  top:416px;
  width:417px;
  word-wrap:break-word;
}
#u932_div {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:667px;
  background:inherit;
  background-color:rgba(229, 229, 229, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u932 {
  position:absolute;
  left:22px;
  top:90px;
  width:376px;
  height:667px;
}
#u933 {
  position:absolute;
  left:2px;
  top:326px;
  width:372px;
  visibility:hidden;
  word-wrap:break-word;
}
#u934_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:64px;
}
#u934 {
  position:absolute;
  left:22px;
  top:90px;
  width:376px;
  height:64px;
}
#u935 {
  position:absolute;
  left:2px;
  top:24px;
  width:372px;
  visibility:hidden;
  word-wrap:break-word;
}
#u936_img {
  position:absolute;
  left:0px;
  top:0px;
  width:363px;
  height:15px;
}
#u936 {
  position:absolute;
  left:28px;
  top:94px;
  width:363px;
  height:15px;
}
#u937 {
  position:absolute;
  left:2px;
  top:0px;
  width:359px;
  visibility:hidden;
  word-wrap:break-word;
}
#u938_img {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:665px;
}
#u938 {
  position:absolute;
  left:23px;
  top:91px;
  width:374px;
  height:665px;
}
#u939 {
  position:absolute;
  left:2px;
  top:324px;
  width:370px;
  visibility:hidden;
  word-wrap:break-word;
}
#u940 {
  position:absolute;
  left:55px;
  top:705px;
  width:321px;
  height:42px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u941 {
  position:absolute;
  left:167px;
  top:114px;
  width:87px;
  height:42px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u942 {
  position:absolute;
  left:252px;
  top:114px;
  width:92px;
  height:42px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u943 {
  position:absolute;
  left:23px;
  top:114px;
  width:42px;
  height:42px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
