body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:421px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2036_img {
  position:absolute;
  left:0px;
  top:0px;
  width:421px;
  height:848px;
}
#u2036 {
  position:absolute;
  left:0px;
  top:0px;
  width:421px;
  height:848px;
}
#u2037 {
  position:absolute;
  left:2px;
  top:416px;
  width:417px;
  word-wrap:break-word;
}
#u2038_div {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:667px;
  background:inherit;
  background-color:rgba(229, 229, 229, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2038 {
  position:absolute;
  left:22px;
  top:90px;
  width:376px;
  height:667px;
}
#u2039 {
  position:absolute;
  left:2px;
  top:326px;
  width:372px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2040_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:64px;
}
#u2040 {
  position:absolute;
  left:22px;
  top:90px;
  width:376px;
  height:64px;
}
#u2041 {
  position:absolute;
  left:2px;
  top:24px;
  width:372px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2042_img {
  position:absolute;
  left:0px;
  top:0px;
  width:363px;
  height:15px;
}
#u2042 {
  position:absolute;
  left:28px;
  top:94px;
  width:363px;
  height:15px;
}
#u2043 {
  position:absolute;
  left:2px;
  top:0px;
  width:359px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2044_img {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:665px;
}
#u2044 {
  position:absolute;
  left:23px;
  top:91px;
  width:374px;
  height:665px;
}
#u2045 {
  position:absolute;
  left:2px;
  top:324px;
  width:370px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2046 {
  position:absolute;
  left:23px;
  top:110px;
  width:44px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2047 {
  position:absolute;
  left:23px;
  top:160px;
  width:374px;
  height:596px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
