body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:844px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u3642_img {
  position:absolute;
  left:0px;
  top:0px;
  width:421px;
  height:848px;
}
#u3642 {
  position:absolute;
  left:0px;
  top:0px;
  width:421px;
  height:848px;
}
#u3643 {
  position:absolute;
  left:2px;
  top:416px;
  width:417px;
  word-wrap:break-word;
}
#u3644_div {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:667px;
  background:inherit;
  background-color:rgba(229, 229, 229, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3644 {
  position:absolute;
  left:22px;
  top:90px;
  width:376px;
  height:667px;
}
#u3645 {
  position:absolute;
  left:2px;
  top:326px;
  width:372px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3646_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:64px;
}
#u3646 {
  position:absolute;
  left:22px;
  top:90px;
  width:376px;
  height:64px;
}
#u3647 {
  position:absolute;
  left:2px;
  top:24px;
  width:372px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3648_img {
  position:absolute;
  left:0px;
  top:0px;
  width:363px;
  height:15px;
}
#u3648 {
  position:absolute;
  left:28px;
  top:94px;
  width:363px;
  height:15px;
}
#u3649 {
  position:absolute;
  left:2px;
  top:0px;
  width:359px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3650_img {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:665px;
}
#u3650 {
  position:absolute;
  left:23px;
  top:91px;
  width:374px;
  height:665px;
}
#u3651 {
  position:absolute;
  left:2px;
  top:324px;
  width:370px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3652 {
  position:absolute;
  left:23px;
  top:116px;
  width:37px;
  height:44px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u3653_img {
  position:absolute;
  left:0px;
  top:0px;
  width:282px;
  height:195px;
}
#u3653 {
  position:absolute;
  left:562px;
  top:577px;
  width:282px;
  height:195px;
}
#u3654 {
  position:absolute;
  left:2px;
  top:90px;
  width:278px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3655 {
  position:absolute;
  left:535px;
  top:550px;
  width:0px;
  height:0px;
}
#u3655_seg0 {
  position:absolute;
  left:-4px;
  top:-13px;
  width:8px;
  height:13px;
}
#u3655_seg1 {
  position:absolute;
  left:-164px;
  top:-13px;
  width:168px;
  height:8px;
}
#u3656 {
  position:absolute;
  left:-128px;
  top:-17px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3657_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u3657 {
  position:absolute;
  left:522px;
  top:530px;
  width:30px;
  height:30px;
}
#u3658 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  word-wrap:break-word;
}
#u3659_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3659 {
  position:absolute;
  left:562px;
  top:537px;
  width:85px;
  height:16px;
}
#u3660 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u3661 {
  position:absolute;
  left:612px;
  top:688px;
  width:167px;
  height:44px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
