body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:753px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u370_img {
  position:absolute;
  left:0px;
  top:0px;
  width:421px;
  height:848px;
}
#u370 {
  position:absolute;
  left:0px;
  top:0px;
  width:421px;
  height:848px;
}
#u371 {
  position:absolute;
  left:2px;
  top:416px;
  width:417px;
  word-wrap:break-word;
}
#u372_div {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:667px;
  background:inherit;
  background-color:rgba(229, 229, 229, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u372 {
  position:absolute;
  left:22px;
  top:90px;
  width:376px;
  height:667px;
}
#u373 {
  position:absolute;
  left:2px;
  top:326px;
  width:372px;
  visibility:hidden;
  word-wrap:break-word;
}
#u374_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:64px;
}
#u374 {
  position:absolute;
  left:22px;
  top:90px;
  width:376px;
  height:64px;
}
#u375 {
  position:absolute;
  left:2px;
  top:24px;
  width:372px;
  visibility:hidden;
  word-wrap:break-word;
}
#u376_img {
  position:absolute;
  left:0px;
  top:0px;
  width:363px;
  height:15px;
}
#u376 {
  position:absolute;
  left:28px;
  top:94px;
  width:363px;
  height:15px;
}
#u377 {
  position:absolute;
  left:2px;
  top:0px;
  width:359px;
  visibility:hidden;
  word-wrap:break-word;
}
#u378_img {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:65px;
}
#u378 {
  position:absolute;
  left:23px;
  top:91px;
  width:374px;
  height:65px;
}
#u379 {
  position:absolute;
  left:2px;
  top:24px;
  width:370px;
  visibility:hidden;
  word-wrap:break-word;
}
#u380 {
  position:absolute;
  left:23px;
  top:156px;
  width:730px;
  height:600px;
  overflow:hidden;
}
#u380_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:730px;
  height:600px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u380_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u381 {
  position:absolute;
  left:0px;
  top:0px;
  width:809px;
  height:883px;
  overflow:hidden;
  touch-action:none;
}
#u381_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:809px;
  height:883px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u381_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u382_img {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:884px;
}
#u382 {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:884px;
}
#u383 {
  position:absolute;
  left:2px;
  top:434px;
  width:370px;
  visibility:hidden;
  word-wrap:break-word;
}
#u384 {
  position:absolute;
  left:331px;
  top:140px;
  width:43px;
  height:46px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u385 {
  position:absolute;
  left:331px;
  top:315px;
  width:43px;
  height:46px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u386 {
  position:absolute;
  left:331px;
  top:361px;
  width:43px;
  height:46px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u387 {
  position:absolute;
  left:11px;
  top:581px;
  width:89px;
  height:82px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u388 {
  position:absolute;
  left:11px;
  top:719px;
  width:89px;
  height:82px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u389 {
  position:absolute;
  left:30px;
  top:818px;
  width:316px;
  height:47px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u390_div {
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u390 {
  position:absolute;
  left:467px;
  top:789px;
  width:235px;
  height:80px;
  font-size:14px;
}
#u391 {
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  word-wrap:break-word;
}
#u392_div {
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  height:35px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.498039215686275);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:12px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u392 {
  position:absolute;
  left:467px;
  top:744px;
  width:195px;
  height:35px;
  color:#FFFFFF;
}
#u393 {
  position:absolute;
  left:2px;
  top:10px;
  width:191px;
  word-wrap:break-word;
}
#u394_div {
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u394 {
  position:absolute;
  left:470px;
  top:723px;
  width:179px;
  height:16px;
  font-size:14px;
}
#u395 {
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  word-wrap:break-word;
}
#u396 {
  position:absolute;
  left:412px;
  top:761px;
  width:0px;
  height:0px;
}
#u396_seg0 {
  position:absolute;
  left:-85px;
  top:-4px;
  width:85px;
  height:8px;
}
#u396_seg1 {
  position:absolute;
  left:-85px;
  top:-4px;
  width:8px;
  height:83px;
}
#u397 {
  position:absolute;
  left:-130px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u398_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u398 {
  position:absolute;
  left:411px;
  top:745px;
  width:30px;
  height:30px;
}
#u399 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  word-wrap:break-word;
}
#u400_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:2px;
}
#u400 {
  position:absolute;
  left:0px;
  top:456px;
  width:374px;
  height:1px;
}
#u401 {
  position:absolute;
  left:2px;
  top:-8px;
  width:370px;
  visibility:hidden;
  word-wrap:break-word;
}
#u402 {
  position:absolute;
  left:23px;
  top:108px;
  width:43px;
  height:46px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u403 {
  position:absolute;
  left:345px;
  top:110px;
  width:52px;
  height:46px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
