body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:718px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1977_img {
  position:absolute;
  left:0px;
  top:0px;
  width:421px;
  height:848px;
}
#u1977 {
  position:absolute;
  left:0px;
  top:0px;
  width:421px;
  height:848px;
}
#u1978 {
  position:absolute;
  left:2px;
  top:416px;
  width:417px;
  word-wrap:break-word;
}
#u1979_div {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:667px;
  background:inherit;
  background-color:rgba(229, 229, 229, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1979 {
  position:absolute;
  left:22px;
  top:90px;
  width:376px;
  height:667px;
}
#u1980 {
  position:absolute;
  left:2px;
  top:326px;
  width:372px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1981_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:64px;
}
#u1981 {
  position:absolute;
  left:22px;
  top:90px;
  width:376px;
  height:64px;
}
#u1982 {
  position:absolute;
  left:2px;
  top:24px;
  width:372px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1983_img {
  position:absolute;
  left:0px;
  top:0px;
  width:363px;
  height:15px;
}
#u1983 {
  position:absolute;
  left:28px;
  top:94px;
  width:363px;
  height:15px;
}
#u1984 {
  position:absolute;
  left:2px;
  top:0px;
  width:359px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1985_img {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:665px;
}
#u1985 {
  position:absolute;
  left:23px;
  top:91px;
  width:374px;
  height:665px;
}
#u1986 {
  position:absolute;
  left:2px;
  top:324px;
  width:370px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1987 {
  position:absolute;
  left:23px;
  top:491px;
  width:374px;
  height:265px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1988_div {
  position:absolute;
  left:0px;
  top:0px;
  width:283px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
}
#u1988 {
  position:absolute;
  left:435px;
  top:730px;
  width:283px;
  height:17px;
  font-size:15px;
}
#u1989 {
  position:absolute;
  left:0px;
  top:0px;
  width:283px;
  word-wrap:break-word;
}
