body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:667px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u641_img {
  position:absolute;
  left:0px;
  top:0px;
  width:421px;
  height:848px;
}
#u641 {
  position:absolute;
  left:0px;
  top:0px;
  width:421px;
  height:848px;
}
#u642 {
  position:absolute;
  left:2px;
  top:416px;
  width:417px;
  word-wrap:break-word;
}
#u643_div {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:667px;
  background:inherit;
  background-color:rgba(229, 229, 229, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u643 {
  position:absolute;
  left:22px;
  top:90px;
  width:376px;
  height:667px;
}
#u644 {
  position:absolute;
  left:2px;
  top:326px;
  width:372px;
  visibility:hidden;
  word-wrap:break-word;
}
#u645_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:64px;
}
#u645 {
  position:absolute;
  left:22px;
  top:90px;
  width:376px;
  height:64px;
}
#u646 {
  position:absolute;
  left:2px;
  top:24px;
  width:372px;
  visibility:hidden;
  word-wrap:break-word;
}
#u647_img {
  position:absolute;
  left:0px;
  top:0px;
  width:363px;
  height:15px;
}
#u647 {
  position:absolute;
  left:28px;
  top:94px;
  width:363px;
  height:15px;
}
#u648 {
  position:absolute;
  left:2px;
  top:0px;
  width:359px;
  visibility:hidden;
  word-wrap:break-word;
}
#u649_img {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:665px;
}
#u649 {
  position:absolute;
  left:23px;
  top:91px;
  width:374px;
  height:665px;
}
#u650 {
  position:absolute;
  left:2px;
  top:324px;
  width:370px;
  visibility:hidden;
  word-wrap:break-word;
}
#u651 {
  position:absolute;
  left:109px;
  top:382px;
  width:90px;
  height:70px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u652 {
  position:absolute;
  left:215px;
  top:382px;
  width:90px;
  height:70px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u653_div {
  position:absolute;
  left:0px;
  top:0px;
  width:236px;
  height:102px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
}
#u653 {
  position:absolute;
  left:431px;
  top:334px;
  width:236px;
  height:102px;
  font-size:15px;
}
#u654 {
  position:absolute;
  left:0px;
  top:0px;
  width:236px;
  word-wrap:break-word;
}
