body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:671px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u3047_img {
  position:absolute;
  left:0px;
  top:0px;
  width:421px;
  height:848px;
}
#u3047 {
  position:absolute;
  left:0px;
  top:0px;
  width:421px;
  height:848px;
}
#u3048 {
  position:absolute;
  left:2px;
  top:416px;
  width:417px;
  word-wrap:break-word;
}
#u3049_div {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:667px;
  background:inherit;
  background-color:rgba(229, 229, 229, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3049 {
  position:absolute;
  left:22px;
  top:90px;
  width:376px;
  height:667px;
}
#u3050 {
  position:absolute;
  left:2px;
  top:326px;
  width:372px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3051_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:64px;
}
#u3051 {
  position:absolute;
  left:22px;
  top:90px;
  width:376px;
  height:64px;
}
#u3052 {
  position:absolute;
  left:2px;
  top:24px;
  width:372px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3053_img {
  position:absolute;
  left:0px;
  top:0px;
  width:363px;
  height:15px;
}
#u3053 {
  position:absolute;
  left:28px;
  top:94px;
  width:363px;
  height:15px;
}
#u3054 {
  position:absolute;
  left:2px;
  top:0px;
  width:359px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3055_img {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:665px;
}
#u3055 {
  position:absolute;
  left:23px;
  top:91px;
  width:374px;
  height:665px;
}
#u3056 {
  position:absolute;
  left:2px;
  top:324px;
  width:370px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3057 {
  position:absolute;
  left:540px;
  top:605px;
  width:0px;
  height:0px;
}
#u3057_seg0 {
  position:absolute;
  left:-226px;
  top:-4px;
  width:226px;
  height:8px;
}
#u3057_seg1 {
  position:absolute;
  left:-226px;
  top:-4px;
  width:8px;
  height:6px;
}
#u3058 {
  position:absolute;
  left:-162px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3059_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u3059 {
  position:absolute;
  left:546px;
  top:592px;
  width:30px;
  height:30px;
}
#u3060 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  word-wrap:break-word;
}
#u3061_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:112px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3061 {
  position:absolute;
  left:586px;
  top:599px;
  width:85px;
  height:112px;
}
#u3062 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u3063 {
  position:absolute;
  left:23px;
  top:512px;
  width:374px;
  height:47px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
