body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:926px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1771_img {
  position:absolute;
  left:0px;
  top:0px;
  width:421px;
  height:848px;
}
#u1771 {
  position:absolute;
  left:0px;
  top:0px;
  width:421px;
  height:848px;
}
#u1772 {
  position:absolute;
  left:2px;
  top:416px;
  width:417px;
  word-wrap:break-word;
}
#u1773_div {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:667px;
  background:inherit;
  background-color:rgba(229, 229, 229, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1773 {
  position:absolute;
  left:22px;
  top:90px;
  width:376px;
  height:667px;
}
#u1774 {
  position:absolute;
  left:2px;
  top:326px;
  width:372px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1775_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:64px;
}
#u1775 {
  position:absolute;
  left:22px;
  top:90px;
  width:376px;
  height:64px;
}
#u1776 {
  position:absolute;
  left:2px;
  top:24px;
  width:372px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1777_img {
  position:absolute;
  left:0px;
  top:0px;
  width:363px;
  height:15px;
}
#u1777 {
  position:absolute;
  left:28px;
  top:94px;
  width:363px;
  height:15px;
}
#u1778 {
  position:absolute;
  left:2px;
  top:0px;
  width:359px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1779_img {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:665px;
}
#u1779 {
  position:absolute;
  left:23px;
  top:91px;
  width:374px;
  height:665px;
}
#u1780 {
  position:absolute;
  left:2px;
  top:324px;
  width:370px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1781 {
  position:absolute;
  left:275px;
  top:379px;
  width:116px;
  height:43px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1782 {
  position:absolute;
  left:156px;
  top:379px;
  width:109px;
  height:43px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1783_div {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:64px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u1783 {
  position:absolute;
  left:431px;
  top:376px;
  width:200px;
  height:64px;
  font-size:14px;
}
#u1784 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u1785_img {
  position:absolute;
  left:0px;
  top:0px;
  width:285px;
  height:196px;
}
#u1785 {
  position:absolute;
  left:641px;
  top:303px;
  width:285px;
  height:196px;
}
#u1786 {
  position:absolute;
  left:2px;
  top:90px;
  width:281px;
  visibility:hidden;
  word-wrap:break-word;
}
