body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1249px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2819_img {
  position:absolute;
  left:0px;
  top:0px;
  width:421px;
  height:848px;
}
#u2819 {
  position:absolute;
  left:0px;
  top:0px;
  width:421px;
  height:848px;
}
#u2820 {
  position:absolute;
  left:2px;
  top:416px;
  width:417px;
  word-wrap:break-word;
}
#u2821_div {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:667px;
  background:inherit;
  background-color:rgba(229, 229, 229, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2821 {
  position:absolute;
  left:22px;
  top:90px;
  width:376px;
  height:667px;
}
#u2822 {
  position:absolute;
  left:2px;
  top:326px;
  width:372px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2823_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:64px;
}
#u2823 {
  position:absolute;
  left:22px;
  top:90px;
  width:376px;
  height:64px;
}
#u2824 {
  position:absolute;
  left:2px;
  top:24px;
  width:372px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2825_img {
  position:absolute;
  left:0px;
  top:0px;
  width:363px;
  height:15px;
}
#u2825 {
  position:absolute;
  left:28px;
  top:94px;
  width:363px;
  height:15px;
}
#u2826 {
  position:absolute;
  left:2px;
  top:0px;
  width:359px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2827 {
  position:absolute;
  left:42px;
  top:583px;
  width:345px;
  height:163px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2828_img {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:665px;
}
#u2828 {
  position:absolute;
  left:23px;
  top:91px;
  width:374px;
  height:665px;
}
#u2829 {
  position:absolute;
  left:2px;
  top:324px;
  width:370px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2830 {
  position:absolute;
  left:23px;
  top:116px;
  width:41px;
  height:41px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2831_img {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:671px;
}
#u2831 {
  position:absolute;
  left:875px;
  top:91px;
  width:374px;
  height:665px;
}
#u2832 {
  position:absolute;
  left:2px;
  top:324px;
  width:370px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2833 {
  position:absolute;
  left:418px;
  top:136px;
  width:0px;
  height:0px;
}
#u2833_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:6px;
}
#u2833_seg1 {
  position:absolute;
  left:-4px;
  top:-2px;
  width:426px;
  height:8px;
}
#u2834 {
  position:absolute;
  left:160px;
  top:-6px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2835_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2835 {
  position:absolute;
  left:438px;
  top:153px;
  width:99px;
  height:16px;
}
#u2836 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u2837 {
  position:absolute;
  left:362px;
  top:436px;
  width:0px;
  height:0px;
}
#u2837_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:10px;
}
#u2837_seg1 {
  position:absolute;
  left:-4px;
  top:2px;
  width:148px;
  height:8px;
}
#u2838 {
  position:absolute;
  left:19px;
  top:-2px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2839_img {
  position:absolute;
  left:0px;
  top:0px;
  width:362px;
  height:168px;
}
#u2839 {
  position:absolute;
  left:431px;
  top:466px;
  width:362px;
  height:168px;
}
#u2840 {
  position:absolute;
  left:2px;
  top:76px;
  width:358px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2841_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2841 {
  position:absolute;
  left:524px;
  top:431px;
  width:57px;
  height:16px;
}
#u2842 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
