body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:637px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u3954_img {
  position:absolute;
  left:0px;
  top:0px;
  width:421px;
  height:848px;
}
#u3954 {
  position:absolute;
  left:0px;
  top:0px;
  width:421px;
  height:848px;
}
#u3955 {
  position:absolute;
  left:2px;
  top:416px;
  width:417px;
  word-wrap:break-word;
}
#u3956_div {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:667px;
  background:inherit;
  background-color:rgba(229, 229, 229, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3956 {
  position:absolute;
  left:22px;
  top:90px;
  width:376px;
  height:667px;
}
#u3957 {
  position:absolute;
  left:2px;
  top:326px;
  width:372px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3958_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:64px;
}
#u3958 {
  position:absolute;
  left:22px;
  top:90px;
  width:376px;
  height:64px;
}
#u3959 {
  position:absolute;
  left:2px;
  top:24px;
  width:372px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3960_img {
  position:absolute;
  left:0px;
  top:0px;
  width:363px;
  height:15px;
}
#u3960 {
  position:absolute;
  left:28px;
  top:94px;
  width:363px;
  height:15px;
}
#u3961 {
  position:absolute;
  left:2px;
  top:0px;
  width:359px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3962_img {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:665px;
}
#u3962 {
  position:absolute;
  left:23px;
  top:91px;
  width:374px;
  height:665px;
}
#u3963 {
  position:absolute;
  left:2px;
  top:324px;
  width:370px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3964_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:31px;
}
#u3964 {
  position:absolute;
  left:435px;
  top:128px;
  width:140px;
  height:31px;
  font-size:15px;
  color:#FF201D;
  text-align:left;
}
#u3965 {
  position:absolute;
  left:2px;
  top:-2px;
  width:136px;
  word-wrap:break-word;
}
#u3966_div {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
  color:#FF0000;
}
#u3966 {
  position:absolute;
  left:435px;
  top:220px;
  width:200px;
  height:34px;
  font-size:15px;
  color:#FF0000;
}
#u3967 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u3968_div {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u3968 {
  position:absolute;
  left:437px;
  top:270px;
  width:200px;
  height:16px;
  color:#FF0000;
}
#u3969 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u3970 {
  position:absolute;
  left:23px;
  top:160px;
  width:188px;
  height:38px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u3971 {
  position:absolute;
  left:209px;
  top:160px;
  width:188px;
  height:38px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u3972 {
  position:absolute;
  left:349px;
  top:115px;
  width:45px;
  height:38px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u3973 {
  position:absolute;
  left:29px;
  top:112px;
  width:30px;
  height:38px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
