body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:612px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u253_img {
  position:absolute;
  left:0px;
  top:0px;
  width:421px;
  height:848px;
}
#u253 {
  position:absolute;
  left:0px;
  top:0px;
  width:421px;
  height:848px;
}
#u254 {
  position:absolute;
  left:2px;
  top:416px;
  width:417px;
  word-wrap:break-word;
}
#u255_div {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:667px;
  background:inherit;
  background-color:rgba(229, 229, 229, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u255 {
  position:absolute;
  left:22px;
  top:90px;
  width:376px;
  height:667px;
}
#u256 {
  position:absolute;
  left:2px;
  top:326px;
  width:372px;
  visibility:hidden;
  word-wrap:break-word;
}
#u257_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:64px;
}
#u257 {
  position:absolute;
  left:22px;
  top:90px;
  width:376px;
  height:64px;
}
#u258 {
  position:absolute;
  left:2px;
  top:24px;
  width:372px;
  visibility:hidden;
  word-wrap:break-word;
}
#u259_img {
  position:absolute;
  left:0px;
  top:0px;
  width:363px;
  height:15px;
}
#u259 {
  position:absolute;
  left:28px;
  top:94px;
  width:363px;
  height:15px;
}
#u260 {
  position:absolute;
  left:2px;
  top:0px;
  width:359px;
  visibility:hidden;
  word-wrap:break-word;
}
#u261_img {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:665px;
}
#u261 {
  position:absolute;
  left:23px;
  top:91px;
  width:374px;
  height:665px;
}
#u262 {
  position:absolute;
  left:2px;
  top:324px;
  width:370px;
  visibility:hidden;
  word-wrap:break-word;
}
#u263 {
  position:absolute;
  left:50px;
  top:272px;
  width:321px;
  height:56px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u264 {
  position:absolute;
  left:466px;
  top:205px;
  width:0px;
  height:0px;
}
#u264_seg0 {
  position:absolute;
  left:-4px;
  top:-10px;
  width:8px;
  height:10px;
}
#u264_seg1 {
  position:absolute;
  left:-83px;
  top:-10px;
  width:87px;
  height:8px;
}
#u265 {
  position:absolute;
  left:-88px;
  top:-14px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u266_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u266 {
  position:absolute;
  left:452px;
  top:184px;
  width:30px;
  height:30px;
}
#u267 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  word-wrap:break-word;
}
#u268_div {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u268 {
  position:absolute;
  left:492px;
  top:198px;
  width:69px;
  height:16px;
}
#u269 {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  white-space:nowrap;
}
#u270_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:45px;
  background:inherit;
  background-color:rgba(252, 223, 129, 1);
  border:none;
  border-radius:40px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
  color:#A55C2B;
}
#u270 {
  position:absolute;
  left:492px;
  top:224px;
  width:120px;
  height:45px;
  font-size:15px;
  color:#A55C2B;
}
#u271 {
  position:absolute;
  left:2px;
  top:14px;
  width:116px;
  word-wrap:break-word;
}
#u272_div {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u272 {
  position:absolute;
  left:492px;
  top:292px;
  width:55px;
  height:16px;
}
#u273 {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  white-space:nowrap;
}
#u274_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:45px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:40px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
  color:#FFFFFF;
}
#u274 {
  position:absolute;
  left:492px;
  top:318px;
  width:120px;
  height:45px;
  font-size:15px;
  color:#FFFFFF;
}
#u275 {
  position:absolute;
  left:2px;
  top:14px;
  width:116px;
  word-wrap:break-word;
}
#u276 {
  position:absolute;
  left:23px;
  top:108px;
  width:43px;
  height:46px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u277 {
  position:absolute;
  left:138px;
  top:108px;
  width:68px;
  height:46px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u278 {
  position:absolute;
  left:216px;
  top:108px;
  width:68px;
  height:46px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
