body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:612px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u3562_img {
  position:absolute;
  left:0px;
  top:0px;
  width:421px;
  height:848px;
}
#u3562 {
  position:absolute;
  left:0px;
  top:0px;
  width:421px;
  height:848px;
}
#u3563 {
  position:absolute;
  left:2px;
  top:416px;
  width:417px;
  word-wrap:break-word;
}
#u3564_div {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:667px;
  background:inherit;
  background-color:rgba(229, 229, 229, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3564 {
  position:absolute;
  left:22px;
  top:90px;
  width:376px;
  height:667px;
}
#u3565 {
  position:absolute;
  left:2px;
  top:326px;
  width:372px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3566_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:64px;
}
#u3566 {
  position:absolute;
  left:22px;
  top:90px;
  width:376px;
  height:64px;
}
#u3567 {
  position:absolute;
  left:2px;
  top:24px;
  width:372px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3568_img {
  position:absolute;
  left:0px;
  top:0px;
  width:363px;
  height:15px;
}
#u3568 {
  position:absolute;
  left:28px;
  top:94px;
  width:363px;
  height:15px;
}
#u3569 {
  position:absolute;
  left:2px;
  top:0px;
  width:359px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3570_img {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:665px;
}
#u3570 {
  position:absolute;
  left:23px;
  top:91px;
  width:374px;
  height:665px;
}
#u3571 {
  position:absolute;
  left:2px;
  top:324px;
  width:370px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3572_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:146px;
}
#u3572 {
  position:absolute;
  left:528px;
  top:144px;
  width:84px;
  height:140px;
}
#u3573 {
  position:absolute;
  left:2px;
  top:62px;
  width:80px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3574 {
  position:absolute;
  left:23px;
  top:116px;
  width:37px;
  height:44px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u3575 {
  position:absolute;
  left:503px;
  top:138px;
  width:0px;
  height:0px;
}
#u3575_seg0 {
  position:absolute;
  left:-116px;
  top:-4px;
  width:120px;
  height:8px;
}
#u3576 {
  position:absolute;
  left:-108px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3577_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u3577 {
  position:absolute;
  left:488px;
  top:127px;
  width:30px;
  height:30px;
}
#u3578 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  word-wrap:break-word;
}
#u3579 {
  position:absolute;
  left:23px;
  top:176px;
  width:374px;
  height:278px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
