body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:761px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u4069_img {
  position:absolute;
  left:0px;
  top:0px;
  width:421px;
  height:848px;
}
#u4069 {
  position:absolute;
  left:0px;
  top:0px;
  width:421px;
  height:848px;
}
#u4070 {
  position:absolute;
  left:2px;
  top:416px;
  width:417px;
  word-wrap:break-word;
}
#u4071_div {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:667px;
  background:inherit;
  background-color:rgba(229, 229, 229, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4071 {
  position:absolute;
  left:22px;
  top:90px;
  width:376px;
  height:667px;
}
#u4072 {
  position:absolute;
  left:2px;
  top:326px;
  width:372px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4073_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:64px;
}
#u4073 {
  position:absolute;
  left:22px;
  top:90px;
  width:376px;
  height:64px;
}
#u4074 {
  position:absolute;
  left:2px;
  top:24px;
  width:372px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4075_img {
  position:absolute;
  left:0px;
  top:0px;
  width:363px;
  height:15px;
}
#u4075 {
  position:absolute;
  left:28px;
  top:94px;
  width:363px;
  height:15px;
}
#u4076 {
  position:absolute;
  left:2px;
  top:0px;
  width:359px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4077_img {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:64px;
}
#u4077 {
  position:absolute;
  left:23px;
  top:91px;
  width:374px;
  height:64px;
}
#u4078 {
  position:absolute;
  left:2px;
  top:24px;
  width:370px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4079 {
  position:absolute;
  left:23px;
  top:156px;
  width:374px;
  height:600px;
  overflow:hidden;
}
#u4079_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:600px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u4079_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u4080 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:902px;
  overflow:hidden;
  touch-action:none;
}
#u4080_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:902px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u4080_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u4081_img {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:882px;
}
#u4081 {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:882px;
}
#u4082 {
  position:absolute;
  left:2px;
  top:433px;
  width:370px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4083 {
  position:absolute;
  left:329px;
  top:133px;
  width:57px;
  height:44px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u4084 {
  position:absolute;
  left:329px;
  top:311px;
  width:57px;
  height:34px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u4085 {
  position:absolute;
  left:0px;
  top:561px;
  width:374px;
  height:247px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u4086 {
  position:absolute;
  left:0px;
  top:826px;
  width:374px;
  height:56px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u4087 {
  position:absolute;
  left:23px;
  top:116px;
  width:374px;
  height:44px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u4088_img {
  position:absolute;
  left:0px;
  top:0px;
  width:4px;
  height:6px;
}
#u4088 {
  position:absolute;
  left:452px;
  top:183px;
  width:4px;
  height:6px;
}
#u4089 {
  position:absolute;
  left:2px;
  top:-5px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4090_img {
  position:absolute;
  left:0px;
  top:0px;
  width:305px;
  height:73px;
}
#u4090 {
  position:absolute;
  left:456px;
  top:176px;
  width:305px;
  height:73px;
}
#u4091 {
  position:absolute;
  left:2px;
  top:28px;
  width:301px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4092_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4092 {
  position:absolute;
  left:462px;
  top:130px;
  width:57px;
  height:16px;
}
#u4093 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
