body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:715px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u3065_img {
  position:absolute;
  left:0px;
  top:0px;
  width:421px;
  height:848px;
}
#u3065 {
  position:absolute;
  left:0px;
  top:0px;
  width:421px;
  height:848px;
}
#u3066 {
  position:absolute;
  left:2px;
  top:416px;
  width:417px;
  word-wrap:break-word;
}
#u3067_div {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:667px;
  background:inherit;
  background-color:rgba(229, 229, 229, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3067 {
  position:absolute;
  left:22px;
  top:90px;
  width:376px;
  height:667px;
}
#u3068 {
  position:absolute;
  left:2px;
  top:326px;
  width:372px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3069_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:64px;
}
#u3069 {
  position:absolute;
  left:22px;
  top:90px;
  width:376px;
  height:64px;
}
#u3070 {
  position:absolute;
  left:2px;
  top:24px;
  width:372px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3071_img {
  position:absolute;
  left:0px;
  top:0px;
  width:363px;
  height:15px;
}
#u3071 {
  position:absolute;
  left:28px;
  top:94px;
  width:363px;
  height:15px;
}
#u3072 {
  position:absolute;
  left:2px;
  top:0px;
  width:359px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3073_img {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:665px;
}
#u3073 {
  position:absolute;
  left:23px;
  top:91px;
  width:374px;
  height:665px;
}
#u3074 {
  position:absolute;
  left:2px;
  top:324px;
  width:370px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3075 {
  position:absolute;
  left:23px;
  top:111px;
  width:37px;
  height:46px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u3076 {
  position:absolute;
  left:49px;
  top:646px;
  width:326px;
  height:46px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u3077 {
  position:absolute;
  left:347px;
  top:117px;
  width:50px;
  height:29px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u3078 {
  position:absolute;
  left:440px;
  top:667px;
  width:0px;
  height:0px;
}
#u3078_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:8px;
}
#u3078_seg1 {
  position:absolute;
  left:-94px;
  top:0px;
  width:98px;
  height:8px;
}
#u3079 {
  position:absolute;
  left:-95px;
  top:-4px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3080_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u3080 {
  position:absolute;
  left:427px;
  top:654px;
  width:30px;
  height:30px;
}
#u3081 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  word-wrap:break-word;
}
#u3082_div {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:35px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.498039215686275);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:21px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u3082 {
  position:absolute;
  left:461px;
  top:695px;
  width:134px;
  height:35px;
  color:#FFFFFF;
}
#u3083 {
  position:absolute;
  left:2px;
  top:10px;
  width:130px;
  word-wrap:break-word;
}
#u3084_div {
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u3084 {
  position:absolute;
  left:421px;
  top:269px;
  width:166px;
  height:19px;
  font-size:16px;
}
#u3085 {
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  word-wrap:break-word;
}
#u3086_div {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u3086 {
  position:absolute;
  left:421px;
  top:176px;
  width:200px;
  height:19px;
  font-size:16px;
}
#u3087 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u3088_div {
  position:absolute;
  left:0px;
  top:0px;
  width:248px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u3088 {
  position:absolute;
  left:467px;
  top:660px;
  width:248px;
  height:19px;
  font-size:16px;
}
#u3089 {
  position:absolute;
  left:0px;
  top:0px;
  width:248px;
  word-wrap:break-word;
}
