body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:782px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2226_img {
  position:absolute;
  left:0px;
  top:0px;
  width:421px;
  height:848px;
}
#u2226 {
  position:absolute;
  left:0px;
  top:0px;
  width:421px;
  height:848px;
}
#u2227 {
  position:absolute;
  left:2px;
  top:416px;
  width:417px;
  word-wrap:break-word;
}
#u2228_div {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:667px;
  background:inherit;
  background-color:rgba(229, 229, 229, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2228 {
  position:absolute;
  left:22px;
  top:90px;
  width:376px;
  height:667px;
}
#u2229 {
  position:absolute;
  left:2px;
  top:326px;
  width:372px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2230_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:64px;
}
#u2230 {
  position:absolute;
  left:22px;
  top:90px;
  width:376px;
  height:64px;
}
#u2231 {
  position:absolute;
  left:2px;
  top:24px;
  width:372px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2232_img {
  position:absolute;
  left:0px;
  top:0px;
  width:363px;
  height:15px;
}
#u2232 {
  position:absolute;
  left:28px;
  top:94px;
  width:363px;
  height:15px;
}
#u2233 {
  position:absolute;
  left:2px;
  top:0px;
  width:359px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2234_img {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:665px;
}
#u2234 {
  position:absolute;
  left:23px;
  top:91px;
  width:374px;
  height:665px;
}
#u2235 {
  position:absolute;
  left:2px;
  top:324px;
  width:370px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2236 {
  position:absolute;
  left:23px;
  top:110px;
  width:44px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2237 {
  position:absolute;
  left:353px;
  top:110px;
  width:44px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2238 {
  position:absolute;
  left:23px;
  top:202px;
  width:374px;
  height:385px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2239_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:31px;
}
#u2239 {
  position:absolute;
  left:435px;
  top:121px;
  width:90px;
  height:31px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u2240 {
  position:absolute;
  left:2px;
  top:6px;
  width:86px;
  word-wrap:break-word;
}
#u2241_img {
  position:absolute;
  left:0px;
  top:0px;
  width:333px;
  height:31px;
}
#u2241 {
  position:absolute;
  left:449px;
  top:210px;
  width:333px;
  height:31px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u2242 {
  position:absolute;
  left:2px;
  top:-13px;
  width:329px;
  word-wrap:break-word;
}
