body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1249px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2049_img {
  position:absolute;
  left:0px;
  top:0px;
  width:421px;
  height:848px;
}
#u2049 {
  position:absolute;
  left:0px;
  top:0px;
  width:421px;
  height:848px;
}
#u2050 {
  position:absolute;
  left:2px;
  top:416px;
  width:417px;
  word-wrap:break-word;
}
#u2051_div {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:667px;
  background:inherit;
  background-color:rgba(229, 229, 229, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2051 {
  position:absolute;
  left:22px;
  top:90px;
  width:376px;
  height:667px;
}
#u2052 {
  position:absolute;
  left:2px;
  top:326px;
  width:372px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2053_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:64px;
}
#u2053 {
  position:absolute;
  left:22px;
  top:90px;
  width:376px;
  height:64px;
}
#u2054 {
  position:absolute;
  left:2px;
  top:24px;
  width:372px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2055_img {
  position:absolute;
  left:0px;
  top:0px;
  width:363px;
  height:15px;
}
#u2055 {
  position:absolute;
  left:28px;
  top:94px;
  width:363px;
  height:15px;
}
#u2056 {
  position:absolute;
  left:2px;
  top:0px;
  width:359px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2057_img {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:665px;
}
#u2057 {
  position:absolute;
  left:23px;
  top:91px;
  width:374px;
  height:665px;
}
#u2058 {
  position:absolute;
  left:2px;
  top:324px;
  width:370px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2059_img {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:671px;
}
#u2059 {
  position:absolute;
  left:456px;
  top:91px;
  width:374px;
  height:665px;
}
#u2060 {
  position:absolute;
  left:2px;
  top:324px;
  width:370px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2061_img {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:671px;
}
#u2061 {
  position:absolute;
  left:875px;
  top:99px;
  width:374px;
  height:665px;
}
#u2062 {
  position:absolute;
  left:2px;
  top:324px;
  width:370px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2063 {
  position:absolute;
  left:23px;
  top:110px;
  width:44px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2064_img {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:96px;
}
#u2064 {
  position:absolute;
  left:485px;
  top:768px;
  width:400px;
  height:96px;
  font-size:20px;
}
#u2065 {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  word-wrap:break-word;
}
