body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:576px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u351_img {
  position:absolute;
  left:0px;
  top:0px;
  width:421px;
  height:848px;
}
#u351 {
  position:absolute;
  left:0px;
  top:0px;
  width:421px;
  height:848px;
}
#u352 {
  position:absolute;
  left:2px;
  top:416px;
  width:417px;
  word-wrap:break-word;
}
#u353_div {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:667px;
  background:inherit;
  background-color:rgba(229, 229, 229, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u353 {
  position:absolute;
  left:22px;
  top:90px;
  width:376px;
  height:667px;
}
#u354 {
  position:absolute;
  left:2px;
  top:326px;
  width:372px;
  visibility:hidden;
  word-wrap:break-word;
}
#u355_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:64px;
}
#u355 {
  position:absolute;
  left:22px;
  top:90px;
  width:376px;
  height:64px;
}
#u356 {
  position:absolute;
  left:2px;
  top:24px;
  width:372px;
  visibility:hidden;
  word-wrap:break-word;
}
#u357_img {
  position:absolute;
  left:0px;
  top:0px;
  width:363px;
  height:15px;
}
#u357 {
  position:absolute;
  left:28px;
  top:94px;
  width:363px;
  height:15px;
}
#u358 {
  position:absolute;
  left:2px;
  top:0px;
  width:359px;
  visibility:hidden;
  word-wrap:break-word;
}
#u359_img {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:665px;
}
#u359 {
  position:absolute;
  left:23px;
  top:91px;
  width:374px;
  height:665px;
}
#u360 {
  position:absolute;
  left:2px;
  top:324px;
  width:370px;
  visibility:hidden;
  word-wrap:break-word;
}
#u361 {
  position:absolute;
  left:23px;
  top:108px;
  width:43px;
  height:46px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u362 {
  position:absolute;
  left:152px;
  top:108px;
  width:58px;
  height:46px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u363 {
  position:absolute;
  left:210px;
  top:108px;
  width:75px;
  height:46px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u364 {
  position:absolute;
  left:52px;
  top:513px;
  width:324px;
  height:49px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u365_div {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
}
#u365 {
  position:absolute;
  left:431px;
  top:115px;
  width:145px;
  height:34px;
  font-size:15px;
}
#u366 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  word-wrap:break-word;
}
#u367_div {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
}
#u367 {
  position:absolute;
  left:431px;
  top:528px;
  width:145px;
  height:34px;
  font-size:15px;
}
#u368 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  word-wrap:break-word;
}
