body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:801px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1162_img {
  position:absolute;
  left:0px;
  top:0px;
  width:421px;
  height:848px;
}
#u1162 {
  position:absolute;
  left:0px;
  top:0px;
  width:421px;
  height:848px;
}
#u1163 {
  position:absolute;
  left:2px;
  top:416px;
  width:417px;
  word-wrap:break-word;
}
#u1164_div {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:667px;
  background:inherit;
  background-color:rgba(229, 229, 229, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1164 {
  position:absolute;
  left:22px;
  top:90px;
  width:376px;
  height:667px;
}
#u1165 {
  position:absolute;
  left:2px;
  top:326px;
  width:372px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1166_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:64px;
}
#u1166 {
  position:absolute;
  left:22px;
  top:90px;
  width:376px;
  height:64px;
}
#u1167 {
  position:absolute;
  left:2px;
  top:24px;
  width:372px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1168_img {
  position:absolute;
  left:0px;
  top:0px;
  width:363px;
  height:15px;
}
#u1168 {
  position:absolute;
  left:28px;
  top:94px;
  width:363px;
  height:15px;
}
#u1169 {
  position:absolute;
  left:2px;
  top:0px;
  width:359px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1170_img {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:665px;
}
#u1170 {
  position:absolute;
  left:23px;
  top:91px;
  width:374px;
  height:665px;
}
#u1171 {
  position:absolute;
  left:2px;
  top:324px;
  width:370px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1172 {
  position:absolute;
  left:24px;
  top:109px;
  width:35px;
  height:46px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1173 {
  position:absolute;
  left:85px;
  top:109px;
  width:261px;
  height:46px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1174 {
  position:absolute;
  left:34px;
  top:155px;
  width:178px;
  height:46px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1175 {
  position:absolute;
  left:212px;
  top:155px;
  width:178px;
  height:46px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1176 {
  position:absolute;
  left:24px;
  top:242px;
  width:373px;
  height:514px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1177 {
  position:absolute;
  left:126px;
  top:201px;
  width:86px;
  height:46px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1178 {
  position:absolute;
  left:212px;
  top:201px;
  width:86px;
  height:46px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1179 {
  position:absolute;
  left:298px;
  top:201px;
  width:99px;
  height:46px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1180_div {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u1180 {
  position:absolute;
  left:518px;
  top:193px;
  width:200px;
  height:16px;
  font-size:14px;
}
#u1181 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u1182_div {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u1182 {
  position:absolute;
  left:518px;
  top:216px;
  width:200px;
  height:16px;
  font-size:14px;
}
#u1183 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u1184 {
  position:absolute;
  left:44px;
  top:266px;
  width:0px;
  height:0px;
}
#u1184_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:74px;
}
#u1184_seg1 {
  position:absolute;
  left:-4px;
  top:66px;
  width:448px;
  height:8px;
}
#u1185 {
  position:absolute;
  left:137px;
  top:62px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1186_div {
  position:absolute;
  left:0px;
  top:0px;
  width:223px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u1186 {
  position:absolute;
  left:518px;
  top:328px;
  width:223px;
  height:32px;
  font-size:14px;
}
#u1187 {
  position:absolute;
  left:0px;
  top:0px;
  width:223px;
  word-wrap:break-word;
}
#u1188_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u1188 {
  position:absolute;
  left:471px;
  top:321px;
  width:30px;
  height:30px;
}
#u1189 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  word-wrap:break-word;
}
#u1190_div {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u1190 {
  position:absolute;
  left:518px;
  top:240px;
  width:200px;
  height:16px;
  font-size:14px;
}
#u1191 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u1192_div {
  position:absolute;
  left:0px;
  top:0px;
  width:283px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u1192 {
  position:absolute;
  left:518px;
  top:169px;
  width:283px;
  height:16px;
  font-size:14px;
}
#u1193 {
  position:absolute;
  left:0px;
  top:0px;
  width:283px;
  word-wrap:break-word;
}
#u1194_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u1194 {
  position:absolute;
  left:471px;
  top:197px;
  width:30px;
  height:30px;
}
#u1195 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  word-wrap:break-word;
}
#u1196 {
  position:absolute;
  left:471px;
  top:212px;
  width:0px;
  height:0px;
}
#u1196_seg0 {
  position:absolute;
  left:-71px;
  top:-4px;
  width:71px;
  height:8px;
}
#u1196_seg1 {
  position:absolute;
  left:-71px;
  top:-6px;
  width:8px;
  height:10px;
}
#u1197 {
  position:absolute;
  left:-86px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
