body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:635px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u770_img {
  position:absolute;
  left:0px;
  top:0px;
  width:421px;
  height:848px;
}
#u770 {
  position:absolute;
  left:0px;
  top:0px;
  width:421px;
  height:848px;
}
#u771 {
  position:absolute;
  left:2px;
  top:416px;
  width:417px;
  word-wrap:break-word;
}
#u772_div {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:667px;
  background:inherit;
  background-color:rgba(229, 229, 229, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u772 {
  position:absolute;
  left:22px;
  top:90px;
  width:376px;
  height:667px;
}
#u773 {
  position:absolute;
  left:2px;
  top:326px;
  width:372px;
  visibility:hidden;
  word-wrap:break-word;
}
#u774_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:64px;
}
#u774 {
  position:absolute;
  left:22px;
  top:90px;
  width:376px;
  height:64px;
}
#u775 {
  position:absolute;
  left:2px;
  top:24px;
  width:372px;
  visibility:hidden;
  word-wrap:break-word;
}
#u776_img {
  position:absolute;
  left:0px;
  top:0px;
  width:363px;
  height:15px;
}
#u776 {
  position:absolute;
  left:28px;
  top:94px;
  width:363px;
  height:15px;
}
#u777 {
  position:absolute;
  left:2px;
  top:0px;
  width:359px;
  visibility:hidden;
  word-wrap:break-word;
}
#u778_img {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:665px;
}
#u778 {
  position:absolute;
  left:23px;
  top:91px;
  width:374px;
  height:665px;
}
#u779 {
  position:absolute;
  left:2px;
  top:324px;
  width:370px;
  visibility:hidden;
  word-wrap:break-word;
}
#u780 {
  position:absolute;
  left:23px;
  top:156px;
  width:125px;
  height:42px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u781 {
  position:absolute;
  left:148px;
  top:156px;
  width:125px;
  height:42px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u782 {
  position:absolute;
  left:272px;
  top:156px;
  width:125px;
  height:42px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u783 {
  position:absolute;
  left:343px;
  top:114px;
  width:54px;
  height:42px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u784 {
  position:absolute;
  left:23px;
  top:114px;
  width:42px;
  height:42px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u785 {
  position:absolute;
  left:17px;
  top:214px;
  width:380px;
  height:42px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u786 {
  position:absolute;
  left:17px;
  top:256px;
  width:380px;
  height:42px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u787 {
  position:absolute;
  left:50px;
  top:576px;
  width:316px;
  height:42px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u788_div {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
}
#u788 {
  position:absolute;
  left:435px;
  top:222px;
  width:165px;
  height:17px;
  font-size:15px;
}
#u789 {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  word-wrap:break-word;
}
#u790_div {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
}
#u790 {
  position:absolute;
  left:435px;
  top:262px;
  width:165px;
  height:34px;
  font-size:15px;
}
#u791 {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  word-wrap:break-word;
}
#u792_div {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u792 {
  position:absolute;
  left:435px;
  top:318px;
  width:200px;
  height:48px;
  font-size:14px;
}
#u793 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u794_div {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:51px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
}
#u794 {
  position:absolute;
  left:435px;
  top:386px;
  width:200px;
  height:51px;
  font-size:15px;
}
#u795 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
