body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1020px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2312_img {
  position:absolute;
  left:0px;
  top:0px;
  width:421px;
  height:848px;
}
#u2312 {
  position:absolute;
  left:0px;
  top:0px;
  width:421px;
  height:848px;
}
#u2313 {
  position:absolute;
  left:2px;
  top:416px;
  width:417px;
  word-wrap:break-word;
}
#u2314_div {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:667px;
  background:inherit;
  background-color:rgba(229, 229, 229, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2314 {
  position:absolute;
  left:22px;
  top:90px;
  width:376px;
  height:667px;
}
#u2315 {
  position:absolute;
  left:2px;
  top:326px;
  width:372px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2316_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:64px;
}
#u2316 {
  position:absolute;
  left:22px;
  top:90px;
  width:376px;
  height:64px;
}
#u2317 {
  position:absolute;
  left:2px;
  top:24px;
  width:372px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2318_img {
  position:absolute;
  left:0px;
  top:0px;
  width:363px;
  height:15px;
}
#u2318 {
  position:absolute;
  left:28px;
  top:94px;
  width:363px;
  height:15px;
}
#u2319 {
  position:absolute;
  left:2px;
  top:0px;
  width:359px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2320_img {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:671px;
}
#u2320 {
  position:absolute;
  left:24px;
  top:91px;
  width:374px;
  height:665px;
}
#u2321 {
  position:absolute;
  left:2px;
  top:324px;
  width:370px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2322_img {
  position:absolute;
  left:0px;
  top:0px;
  width:378px;
  height:667px;
}
#u2322 {
  position:absolute;
  left:22px;
  top:91px;
  width:378px;
  height:667px;
}
#u2323 {
  position:absolute;
  left:2px;
  top:326px;
  width:374px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2324 {
  position:absolute;
  left:23px;
  top:118px;
  width:28px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2325_div {
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:51px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
}
#u2325 {
  position:absolute;
  left:429px;
  top:479px;
  width:182px;
  height:51px;
  font-size:15px;
}
#u2326 {
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  word-wrap:break-word;
}
#u2327_img {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:671px;
}
#u2327 {
  position:absolute;
  left:646px;
  top:91px;
  width:374px;
  height:665px;
}
#u2328 {
  position:absolute;
  left:2px;
  top:324px;
  width:370px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2329_div {
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
}
#u2329 {
  position:absolute;
  left:423px;
  top:320px;
  width:164px;
  height:34px;
  font-size:15px;
}
#u2330 {
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  word-wrap:break-word;
}
#u2331_div {
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
}
#u2331 {
  position:absolute;
  left:496px;
  top:639px;
  width:164px;
  height:17px;
  font-size:15px;
}
#u2332 {
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  word-wrap:break-word;
}
#u2333_img {
  position:absolute;
  left:-2px;
  top:-10px;
  width:139px;
  height:25px;
}
#u2333 {
  position:absolute;
  left:508px;
  top:670px;
  width:127px;
  height:5px;
}
#u2334 {
  position:absolute;
  left:2px;
  top:-6px;
  width:123px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2335_img {
  position:absolute;
  left:-2px;
  top:-10px;
  width:139px;
  height:25px;
}
#u2335 {
  position:absolute;
  left:423px;
  top:362px;
  width:127px;
  height:5px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u2336 {
  position:absolute;
  left:2px;
  top:-6px;
  width:123px;
  visibility:hidden;
  word-wrap:break-word;
}
