body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:606px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u838_img {
  position:absolute;
  left:0px;
  top:0px;
  width:421px;
  height:848px;
}
#u838 {
  position:absolute;
  left:0px;
  top:0px;
  width:421px;
  height:848px;
}
#u839 {
  position:absolute;
  left:2px;
  top:416px;
  width:417px;
  word-wrap:break-word;
}
#u840_div {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:667px;
  background:inherit;
  background-color:rgba(229, 229, 229, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u840 {
  position:absolute;
  left:22px;
  top:90px;
  width:376px;
  height:667px;
}
#u841 {
  position:absolute;
  left:2px;
  top:326px;
  width:372px;
  visibility:hidden;
  word-wrap:break-word;
}
#u842_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:64px;
}
#u842 {
  position:absolute;
  left:22px;
  top:90px;
  width:376px;
  height:64px;
}
#u843 {
  position:absolute;
  left:2px;
  top:24px;
  width:372px;
  visibility:hidden;
  word-wrap:break-word;
}
#u844_img {
  position:absolute;
  left:0px;
  top:0px;
  width:363px;
  height:15px;
}
#u844 {
  position:absolute;
  left:28px;
  top:94px;
  width:363px;
  height:15px;
}
#u845 {
  position:absolute;
  left:2px;
  top:0px;
  width:359px;
  visibility:hidden;
  word-wrap:break-word;
}
#u846_img {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:665px;
}
#u846 {
  position:absolute;
  left:23px;
  top:91px;
  width:374px;
  height:665px;
}
#u847 {
  position:absolute;
  left:2px;
  top:324px;
  width:370px;
  visibility:hidden;
  word-wrap:break-word;
}
#u848 {
  position:absolute;
  left:23px;
  top:118px;
  width:47px;
  height:42px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u849 {
  position:absolute;
  left:47px;
  top:645px;
  width:326px;
  height:56px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u850_div {
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
}
#u850 {
  position:absolute;
  left:431px;
  top:225px;
  width:175px;
  height:17px;
  font-size:15px;
}
#u851 {
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  word-wrap:break-word;
}
