body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:596px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u823_img {
  position:absolute;
  left:0px;
  top:0px;
  width:421px;
  height:848px;
}
#u823 {
  position:absolute;
  left:0px;
  top:0px;
  width:421px;
  height:848px;
}
#u824 {
  position:absolute;
  left:2px;
  top:416px;
  width:417px;
  word-wrap:break-word;
}
#u825_div {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:667px;
  background:inherit;
  background-color:rgba(229, 229, 229, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u825 {
  position:absolute;
  left:22px;
  top:90px;
  width:376px;
  height:667px;
}
#u826 {
  position:absolute;
  left:2px;
  top:326px;
  width:372px;
  visibility:hidden;
  word-wrap:break-word;
}
#u827_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:64px;
}
#u827 {
  position:absolute;
  left:22px;
  top:90px;
  width:376px;
  height:64px;
}
#u828 {
  position:absolute;
  left:2px;
  top:24px;
  width:372px;
  visibility:hidden;
  word-wrap:break-word;
}
#u829_img {
  position:absolute;
  left:0px;
  top:0px;
  width:363px;
  height:15px;
}
#u829 {
  position:absolute;
  left:28px;
  top:94px;
  width:363px;
  height:15px;
}
#u830 {
  position:absolute;
  left:2px;
  top:0px;
  width:359px;
  visibility:hidden;
  word-wrap:break-word;
}
#u831_img {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:665px;
}
#u831 {
  position:absolute;
  left:23px;
  top:91px;
  width:374px;
  height:665px;
}
#u832 {
  position:absolute;
  left:2px;
  top:324px;
  width:370px;
  visibility:hidden;
  word-wrap:break-word;
}
#u833 {
  position:absolute;
  left:123px;
  top:397px;
  width:79px;
  height:42px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u834 {
  position:absolute;
  left:223px;
  top:397px;
  width:79px;
  height:42px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u835_div {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
}
#u835 {
  position:absolute;
  left:431px;
  top:385px;
  width:165px;
  height:34px;
  font-size:15px;
}
#u836 {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  word-wrap:break-word;
}
