body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:631px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u983_img {
  position:absolute;
  left:0px;
  top:0px;
  width:421px;
  height:848px;
}
#u983 {
  position:absolute;
  left:0px;
  top:0px;
  width:421px;
  height:848px;
}
#u984 {
  position:absolute;
  left:2px;
  top:416px;
  width:417px;
  word-wrap:break-word;
}
#u985_div {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:667px;
  background:inherit;
  background-color:rgba(229, 229, 229, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u985 {
  position:absolute;
  left:22px;
  top:90px;
  width:376px;
  height:667px;
}
#u986 {
  position:absolute;
  left:2px;
  top:326px;
  width:372px;
  visibility:hidden;
  word-wrap:break-word;
}
#u987_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:64px;
}
#u987 {
  position:absolute;
  left:22px;
  top:90px;
  width:376px;
  height:64px;
}
#u988 {
  position:absolute;
  left:2px;
  top:24px;
  width:372px;
  visibility:hidden;
  word-wrap:break-word;
}
#u989_img {
  position:absolute;
  left:0px;
  top:0px;
  width:363px;
  height:15px;
}
#u989 {
  position:absolute;
  left:28px;
  top:94px;
  width:363px;
  height:15px;
}
#u990 {
  position:absolute;
  left:2px;
  top:0px;
  width:359px;
  visibility:hidden;
  word-wrap:break-word;
}
#u991_img {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:665px;
}
#u991 {
  position:absolute;
  left:23px;
  top:91px;
  width:374px;
  height:665px;
}
#u992 {
  position:absolute;
  left:2px;
  top:324px;
  width:370px;
  visibility:hidden;
  word-wrap:break-word;
}
#u993 {
  position:absolute;
  left:23px;
  top:507px;
  width:374px;
  height:56px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u994_div {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:120px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#515151;
  line-height:24px;
}
#u994 {
  position:absolute;
  left:431px;
  top:590px;
  width:200px;
  height:120px;
  font-size:16px;
  color:#515151;
  line-height:24px;
}
#u995 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
