body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:630px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1947_img {
  position:absolute;
  left:0px;
  top:0px;
  width:421px;
  height:848px;
}
#u1947 {
  position:absolute;
  left:0px;
  top:0px;
  width:421px;
  height:848px;
}
#u1948 {
  position:absolute;
  left:2px;
  top:416px;
  width:417px;
  word-wrap:break-word;
}
#u1949_div {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:667px;
  background:inherit;
  background-color:rgba(229, 229, 229, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1949 {
  position:absolute;
  left:22px;
  top:90px;
  width:376px;
  height:667px;
}
#u1950 {
  position:absolute;
  left:2px;
  top:326px;
  width:372px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1951_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:64px;
}
#u1951 {
  position:absolute;
  left:22px;
  top:90px;
  width:376px;
  height:64px;
}
#u1952 {
  position:absolute;
  left:2px;
  top:24px;
  width:372px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1953_img {
  position:absolute;
  left:0px;
  top:0px;
  width:363px;
  height:15px;
}
#u1953 {
  position:absolute;
  left:28px;
  top:94px;
  width:363px;
  height:15px;
}
#u1954 {
  position:absolute;
  left:2px;
  top:0px;
  width:359px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1955_img {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:665px;
}
#u1955 {
  position:absolute;
  left:23px;
  top:91px;
  width:374px;
  height:665px;
}
#u1956 {
  position:absolute;
  left:2px;
  top:324px;
  width:370px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1957_div {
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
}
#u1957 {
  position:absolute;
  left:435px;
  top:129px;
  width:195px;
  height:34px;
  font-size:15px;
}
#u1958 {
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  word-wrap:break-word;
}
#u1959 {
  position:absolute;
  left:23px;
  top:112px;
  width:39px;
  height:43px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1960 {
  position:absolute;
  left:364px;
  top:112px;
  width:39px;
  height:43px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1961 {
  position:absolute;
  left:23px;
  top:453px;
  width:374px;
  height:43px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1962_div {
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
}
#u1962 {
  position:absolute;
  left:435px;
  top:462px;
  width:195px;
  height:17px;
  font-size:15px;
}
#u1963 {
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  word-wrap:break-word;
}
